[2017-08-23 17:01] watilde commented on #111
@rachelnicole @jasnell Thanks for the clear explanation! I could get the right understanding :)
Since CommComm is a good place to hear opinions from the communities, I thought that it would be nice if there were seats at the time of voting like this time if the topic is related to the community instead of very technical stuff.

[2017-08-23 17:01] williamkapke commented on #22
It does most of that list. It doesn't:
- Remove people. I didn't know the use case for this.
- Add new repos. All collaborators have that permission I believe & I'm not sure if we can limit it. If we can- this would be a great option!
- Maintain an audit log. It _does_ update threads- but there isn't a central log... and I think there should be. I only didn't add one in because I didn't know a goo

[2017-08-23 17:03] rachelnicole commented on #111
@watilde i'm pretty sure that's what they're trying to do in regards to the proposed remerger of TSC / CTC & the establishment of the Moderation group with more representation across the board. We'll probably see more progress and updates about things as Issues & PR's start getting closed.

[2017-08-23 17:09] jasnell commented on #111
Yep. There are a couple of open relevant threads:

1. The proposed changes to the Moderation Policy establishes a separate Moderation Team staffed by both the CommComm and TSC. It will be the responsibility of this Moderation Team to initiate moderation actions as opposed to the current arrangement managed solely by the TSC.

2. The proposed changes to the GitHub org management policy establishes

[2017-08-23 17:11] jasnell commented on #22
Sounds good to me. My Time Available To Write Additional Code is limited at the moment or else I'd jump in to help with the technical changes myself.

[2017-08-23 17:12] RichardLitt commented on #22
NodeSchool uses a similar bot. It is highly probably that much of the code would apply directly here, and that we can cut down on development time with it.

[2017-08-23 17:32] rachelnicole commented on #22
Here's the source of the NodeSchool bot that @RichardLitt is referencing. https://github.com/mafintosh/nodeschoolbot

I agree that it seems like we could adapt it v easily for anything else we need. I don't mind helping out with it as well, if needed.

[2017-08-23 17:35] gr2m commented on #22
when the bot is capable to create users and give them admin rights, that is a potential loophole.

I’ve build several GitHub apps in the past and would be happy to help in any way I can, after August.

[2017-08-23 17:50] bnb commented on #22
I'd be more than happy to help out with this / learn a bit with pairing. ❤️

[2017-08-23 18:08] RichardLitt commented on #22
It looks like a few people may be able to help out. I think it might be a good idea to create a repository to track project management for this endeavor, and to open issues with "prs accepted" to help guide this enthusiasm.

[2017-08-23 18:41] williamkapke commented on #22
@RichardLitt @rachelnicole Yup- the NodeSchool bot is what spawned this project (See https://github.com/nodejs/TSC/issues/51).

The bot is already written. (See OP)
It just needs to get set up within the GH infra.

[2017-08-23 18:49] phillipj commented on #22
Let me know if I can help, I know the gh-bot's infra pretty well

On Wed, 23 Aug 2017 at 20:42, William Kapke <notifications@github.com>
wrote:

[2017-08-23 20:01] jasnell opened #114 "Internationalization/Localization Working Groups"
One of the really great ideas emerging from the io.js fork days was the establishment of the various localization working groups (e.g. https://github.com/nodejs/nodejs-fr). These have found mixed levels of success but unfortunately do not get much attention from Core.

We've had some renewed interest (e.g. https://github.com/nodejs/node/pull/14665) lately in contributions for localized documentati

[2017-08-24 06:44] willi84 opened #115 "Twitter Account"
it would be easier to access and know about events if I could follow a twitter account ... i know its work :-/
but u can also share cool new stuff, talks, links etc  ... if u already have one, plz share :-)

[2017-08-24 12:06] rachelnicole commented on #115
@willi84 do you mean a twitter account for the Node community committee, or something else?

The twitter.com/nodejs account might be what you're looking for, it posts news and conference updates and talk videos

[2017-08-24 12:19] willi84 commented on #115
I mean sth. which informs us about news of the committee itself, upcoming events of u or related topics .... if I can find it on @nodejs ... fine :-)

[2017-08-24 12:57] bnb commented on #115
The @nodejs twitter account is owned by the Node.js Foundation, and used in that context - they post talks, tutorials, guides, and (occasionally) news from the GitHub org.

There is an issue in the Evangelism WG repo (https://github.com/nodejs/evangelism/issues/254) that opened up discussion about the possibility of the Evangelism WG working with the account to get more community content in there.

[2017-08-24 19:04] jakeNiemiec commented on #111
@jasnell  I could not find any information on conduct violations in the statements released today:
https://github.com/nodejs/board/issues/67
https://github.com/nodejs/node/issues/15011

As far as I can tell, either:
- a. **There was some offencive/scandalous `event` and it was discussed ["offline"](https://github.com/nodejs/board/issues/62#issuecomment-324515838) amongst the parties here.**
- OR
-

[2017-08-24 19:30] Qard commented on #111
It was discussed publicly, however the details were removed from the post due to fears that they'd encourage targeted harassment. (Personally, I disagree with that response. I think the accountability is necessary.)

[2017-08-24 19:37] jasnell commented on #111
As I have said in follow up posts in twitter, the issues reported to the TSC included Moderation Policy violations (some acknowledged, some contested) and concerns around tweets that the individual posted to their personal twitter feed that several peers on the TSC felt were not becoming of a TSC member. At least three TSC members further indicated that they no longer felt comfortable working with

[2017-08-24 19:51] jasnell commented on #111
Re: the comment `witch hunt in reaction to a fair vote`. There is certainly a significant degree of truth in this statement. From the moment I posted the notice, even before I redacted the specific list of issues reported, a barrage of posts to social media were made that, in my opinion, were complete gross mis-characterizations of the actual events that occurred. There has long been an unhealthy

[2017-08-24 19:54] refack commented on #111
@jasnell you are scooping me again. I was looking for the right forum and right words to say just that.
#### I can not agree with you more!

[2017-08-24 19:55] addaleax commented on #111
That might be a good sign that it would be helpful to have the Foundation (which I assume would have the resources) provide that kind of expertise, rather than going with “we don’t know any better because we’re not professionals”.

[2017-08-24 19:58] rachelnicole commented on #111
I'm closing this thread now as I feel the constructive conversation has tapered out, and we can wait on the additional statements from the board.

If anyone has anything else they'd like to discuss, please feel free to open your own issue.

[2017-08-24 19:59] jakeNiemiec commented on #111
Are you seriously kidding me? Finally a good di

[2017-08-24 20:00] RichardLitt commented on #114
I think it makes sense for CommComm to be involved with the localization groups - it is our job to ensure that a global and multilingual community is maintained, and that no one is left out of work they'd like to do because of linguistic barriers.

I'm curious what exact responsibilities you're imagining, @jasnell. Are there recurring tasks that we should deal with, which aren't being dealt with,

[2017-08-24 20:02] hackygolucky commented on #111
@jakeNiemiec We've got some great progress happening in regards to the reasons this issue was opened in other PRs, such as adjusting moderation guidelines, the teams, and how we execute Codes of Conducts, but the conversation happening isn't addressing the issue as filed. Please file an issue that addresses your concern directly or hop on one of the appropriate issues or comments. We've got a lot

[2017-08-24 20:06] jasnell commented on #114
The tasks are largely fostering, mentoring and onboarding contributors. For instance, I had two people come up to me at NodeSummit specifically asking how to contribute translated docs. I didn't really know what to tell them or who to connect them with. These groups have never had adequate attention from core so I'm not even sure what else to suggest!

[2017-08-24 20:08] RichardLitt commented on #114
Thanks. In that case - completely, 100% agreed. Let's throw this to CommComm.

[2017-08-24 20:15] rachelnicole commented on #111
@jakeNiemiec no, I'm not.

Feel free to open your own issue for additional concerns that are relevant to the questions you're asking, as they're separate from what this issue was opened for.

[2017-08-24 20:16] gr2m commented on #111
@jakeNiemiec we do what we can, it is all on our free time besides our day-to-day job. I understand you are upset, but please remain constructive, the phrase "Are you seriously kidding me" is a personal attack and is not helping your cause. Please create a separate issue

[2017-08-24 20:16] rachelnicole commented on #115
@willi84 do you mean something along the lines of an automated twitter bot that posts when issues & pull requests are opened / closed / updated?

[2017-08-24 20:19] jakeNiemiec commented on #111
@hackygolucky

@rachelnicole

The filed issue is `Discussion: CoC Violations & Accountability`, we are discussing the `CoC Violations` with @addaleax, @refack and @jasnell providing good discussion. **You immediately locked and stamped that out.**  I sure would not feel safe [having you in a position of leadership](https://github.com/nodejs/community-committee/issues/113#issuecomment-324140971) wi

[2017-08-24 20:20] refack commented on #111
@rachelnicole I'm taking the "unlock" at you still leaving room for discussion.

I strongly believe that https://github.com/nodejs/TSC/pull/276 (the TSC requesting to hand over Moderation responsibilities to a new dedicated Moderation team, and appoint a Mediator as the final jurisdiction) is an excellent solution for the problem of "CoC Violations & Accountability".

[2017-08-24 20:21] refack commented on #111
@jakeNiemiec can I ask you to rephrase your last comment? I think I understand your intent, but it comes off as a personal attack.

[2017-08-24 20:23] bnb commented on #111
Going to lock this conversation. Not going anywhere productive with the issue at hand, and - as suggested - other discussions can and should happen in other issues.

❤️

[2017-08-24 20:25] rachelnicole commented on #111
@refack no the unlock was because we aren't supposed to lock conversations unless it's been reviewed by the moderation team, so it was a mistake.

And @jakeNiemiec no. The thread was opened for what we can do as a community going forward, it wasn't opened to question whether you thought a supposed violation is a 'witch hunt'. That conversation would be more important and relevant in a discussion a

[2017-08-24 20:39] jakeNiemiec commented on #111
@refack Thanks, see edit above.

@rachelnicole Please read it again, I was not saying that. **I am only asking what what the violations were**. No source seems to have a clear answer.
![image](https://user-images.githubusercontent.com/16782063/29687191-1dba5250-88e1-11e7-8b4d-74899b91a446.png)

I will rephrase: **What happened in those private issues that we need to `move forward` from?**

(Please

[2017-08-24 20:40] bnb commented on #111
Noted for discussion in Moderation. Locking again.

Want to restate: if you are interested in having discussions about Node.js and what the CommComm can do to help, _please don't hesitate to open an issue_.
 ❤️

[2017-08-24 20:40] #111 closed

[2017-08-24 21:42] hackygolucky commented on #111
Locking a thread is not uncommon in the Node.js repos. If someone is not heeding requests after derailment of a topic happens(this happens quite often, and that doesn't mean you are a terrible person), then moderation is requested because the sheer velocity of an argument can cause a breakdown in communication. Sometimes locking is used as a cooldown mechanism.

Thanks for being patient y'all.

If

[2017-08-27 21:21] watilde commented on #114
I'd love to support this.

[2017-08-28 12:22] avinassh commented on #113
@nebrius Are there are any requirements for this position? Like

- Age
- Contributions to Node
- Previous experience being in similar roles

[2017-08-28 13:01] hijara commented on #113
@avinassh yes. I've listed them as follows -

 - [ ] You need to have multiple blogs on diversity
 - [ ] a twitter account where you regularly bash others who don't share your viewpoint
 - [ ] You must not have a single technical contribution to this project and should have minimal amount of contribution
 - [ ] No experience with nodejs is required whatsoever apart from bringing in a single .md fi

[2017-08-28 13:18] RichardLitt commented on #113
@hijara I'm sorry you feel that way. But thank you for your input. You're right, we could do more to be inclusive. We always can.

I disagree with a few of the points you make, and don't think that they represent the community committee, even from a negative perspective. Instead of deleting your post, I'm commenting here, because otherwise, you're right, I think we're stifling discussion in the na

[2017-08-28 16:11] benjamingr commented on #113
@rachelnicole hey, we don't really know each other too well.

Would you mind explaining what your work at CommComm has involved so far?

I'm ashamed to say, but the only issue I've seen so far was [about the CoC](https://github.com/nodejs/community-committee/issues/111). This is _probably_ because in our local community we don't use twitter a lot (stack overflow chat and meetup mostly) so we miss

[2017-08-28 16:26] rachelnicole commented on #113
@benjamingr just like everyone else on the Community Committee, I attend our meetings and participate in discussions that @nebrius had brought to attention for the agenda that week. I also was at the collaborators summit in Berlin.

I don't know if you're wanting any tangential information outside of that, but I've spoken at every Node Interactive that's taken place about various projects (and a l

[2017-08-28 17:02] benjamingr commented on #113
@rachelnicole that's very helpful, thank you for taking the time to explain.

[2017-08-28 17:58] mhdawson commented on #114
+1 from me as well.  Getting the doc/info in place so more people canl promote/encourage participation in the translation groups would be great.

[2017-08-29 03:22] jfhbrook commented on #33
I need to +1 this in a big way.

# From my perspective: For the last 2 years #node.js has had no active mods, full stop.

At some point, Max casually added @avianflu (I don't know the full timeline) and as we realized that the mods were asleep at the wheel, he started trying to step in despite the fact that he doesn't work in node anymore. Eventually, in the last 3 or 4 months, he asked me to help

[2017-08-29 03:25] rachelnicole commented on #33
@jfhbrook I use irccloud as a client, so while I'm always present in the room, I'm not always immediately there. Maybe we should redefine how reporting should be if someone violates something / needs moderation. Because while I might not be directly in front of my screen, I also have irccloud on my phone and can jump in at any moment.

[2017-08-29 03:33] jfhbrook commented on #33
This is good! And something I would like to work on as well--my client is still irssi in a tmux session, and as you might imagine doesn't work great on phones. I can get decent coverage during the workday and most worknights, just by virtue of not leaving my apartment.

I don't expect perfect coverage, and in fact I was basically OOO the last 3 weeks due to medical issues. I just need help, is all

[2017-08-29 03:42] jfhbrook commented on #33
I want to ask about this for a second:

So am I to read this as:

1. The channel is not an official project space
2. The owners are officially (is this reflected in the access list at all?) @Fishrock123 and @Amorelandra

If so, some immediate problems:

1. @baudehlo made some comments earlier today that indicated that, to me, at one point in time, @aredridel was basically running the show but that

[2017-08-29 03:54] rachelnicole commented on #33
@jfhbrook i agree with #1, we should re-review the moderation list and try and reach out to those who are lapsed.

Also for #2, that's totally something that the Community Committee can vote on, for bringing it under the jurisdiction of the org. Perhaps someone else might have some more guidance?

[2017-08-29 04:05] jfhbrook commented on #33
so idk freenode channel ownership rules (or even how its chanserv does that kinda thing, I've mostly worked with mibbit in terms of access lists), but it would probably be good to make sure we know who holds the keys in case someone feels like they're being usurped. With 20 mods I could see at least one of them going poorly.

[2017-08-29 04:42] hackygolucky opened #116 "Node.js Foundation Community Committee (CommComm) Meeting 2017-08-31"
Node.js Foundation Community Committee (CommComm) Meeting 2017-08-31
--------------------------------------

## Time

**UTC Thu 31-Aug-2017 20:30 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 31-Aug-2017 09:00 (09:00 AM) |
| US / Mountain | Thu 31-Aug-2017 10:00 (10:00 AM) |
| US / Central  | Thu 31-Aug-2017 11:00 (11:00 AM

[2017-08-29 04:43] hackygolucky commented on #116
I'll be admining this meeting, and please watch that it is 12pm ET, as updated from our issue discussion!

[2017-08-29 04:43] hackygolucky commented on #107
Done! https://github.com/nodejs/community-committee/issues/116

[2017-08-29 04:43] #107 closed

[2017-08-29 09:19] benjamingr opened #117 "Explain inclusivity better"
Hey,

Reading the recent Reddit complaint issue about a foundation member made me think Node.js doesn't do a particularly good job explaining _why_ Node.js does all the inclusivity work.

I think people reporting comments like:

As CoC violations indicate that this committee needs to communicate better _why_ it is working towards a more inclusive community. That post has over 300 upvotes which ind

[2017-08-29 09:29] vsemozhetbyt commented on #116
(Emily Rose @emilyrose (CommComm) -> Emily Rose @Amorelandra (CommComm) ?)

[2017-08-29 11:06] gr2m commented on #117
Hi Benjamin, thanks for caring ❤️

Just a heads up that the past week has been very draining for all members of the Community Committee. We’ll get back to you and everyone else wondering the same thing, but please be patient with us.

[2017-08-29 11:36] benjamingr commented on #117
Hi @gr2m, thanks for the response. There is no rush here, this issue is not about me personally so don't feel any need to get back to _me_ about it (I'm pretty sure I understand why we're working towards a more inclusive community personally).

I opened this issue more for tracking communicating the rationale behind all that to the broader Node.js community.

I believe that the fact a portion of o

[2017-08-29 13:33] mhdawson commented on #116
Sorry I'm not going to be able to make it this week as I have family business at that time.

[2017-08-29 13:34] mhdawson commented on #116
Probably makes sense to update the foundation Calendar with the new time.  I can do that if that helps.

[2017-08-29 13:37] refack commented on #116
@hackygolucky thank you for doings this!

2 nits:
1. the local times seems to have not been updated:
![image](https://user-images.githubusercontent.com/96947/29823669-5886ed16-8c9d-11e7-803a-9c93cbff7fda.png)

2. AFAIK Observers should be invited as well?

[2017-08-29 13:45] baudehlo commented on #33
I'm always around and always available at a ping in EST work hours. I don't actively read the channel because it's too active. I've been out for 2 weeks due to a new baby.

I'm not sure what the major concern is here and I disagree with @jfhbrook's shouty headline above about nobody being around for the last 2 years. I'm just a silent member of the channel 99% of the time.

[2017-08-29 14:56] RichardLitt commented on #116
I will try to make this, but may be traveling back to Montreal from Toronto. Apologies if a miss - just a heads up that I may not be able to be there.

[2017-08-29 16:09] Marak commented on #117
You said, `I believe that the fact a portion of our community is in "that reddit crowd"`

It's actually the majority of Node.js users. The CommComm caters to a vocal minority of social justice seekers. The vast majority of Node users are remaining silent on the issue of inclusivity. They either don't care enough to comment, or are afraid at the social backlash of questioning these *mob rallying* T

[2017-08-29 16:23] benjamingr commented on #117
@Marak thanks for discussing. I'll reply here but I want to clarify I hold no official position and all my answers are purely my own views.

I am not involved in CommComm so I can't really comment on that - but that is not the impression I have.

I'm a fan of social justice (is that a derogatory thing in US culture?) but not really in the context of Node.js itself. I think that if you look at the

[2017-08-29 16:27] rachelnicole commented on #117
![dixs-o4uiae8q3j](https://user-images.githubusercontent.com/228230/29832173-57229e26-8cb5-11e7-86f6-fd9ddb92dd6c.jpg)

I'd like to point out that @marak called me a cunt today when I told him i didn't know who he was or care what he did because what we're doing now is important. It seems like he's just here to antagonize, and doesn't have anything constructive to bring to the conversation.

As so

[2017-08-29 16:32] HorizonShadow commented on #117
That's an ad hominem and isn't relevant to the topic.

[2017-08-29 16:37] rachelnicole commented on #117
I think it's relevant to define here what is "the community" then. Because I work regularly with both corporate devs and new devs on a regular basis, who absolutely do **not** share the sentiment of those on reddit.

Is it the people who are actually participating in org decisions, is it the people trying to contribute to core, is it those attending conferences? Is it select communities we oversee

[2017-08-29 16:50] Marak commented on #117
"the community" is every single person on the internet who uses Node.js or the JavaScript toolings built with Node.js.

"the community" is not the exclusive group of people you meet with face to face at corporate events or conferences. This is a privileged position which is out of touch with the majority of the community.

"the community" is definitely not those who have pushed their way into gove

[2017-08-29 16:52] bnb commented on #117
One further point I'd like to add here: The Community Committee is tasked with building a more inclusive environment in the Node.js community, and we've been focused on that for the past few weeks.

That said, building a more inclusive environment isn't the _only_ purpose of the Community Committee. There are a suite of efforts that are generally meant to enable the Node.js Community - most of whi

[2017-08-29 17:05] Marak commented on #117
If you want to make Node.js more inclusive, you need to remove these hateful people from any position of governance or influence.

If the first conflict resolution tool of a CommComm member is to take screenshots of the incident and post it to their personal Twitter looking for social validation, you are encouraging exclusivity and hatred. I've witnessed members of the CommComm looking to actively

[2017-08-29 17:10] Fishrock123 commented on #117
Fwiw, there are some good bits on inclusivity in one of Isaac's recent posts: https://github.com/nodejs/node/issues/15011#issuecomment-325402892

[2017-08-29 17:14] benjamingr commented on #117
@Marak if you are here in order to have a constructive discussion about Node.js can communicate better that's great - but I'm not sure what you hope to accomplish by the third paragraph of the last message.

---

@rachelnicole has there been any prior work in identifying big user groups in online community? I can only speak of my local community but in my local community:

 - There are 3 big Faceb

[2017-08-29 17:14] hackygolucky commented on #117
@Marak A recommendation on persuasive arguments– it is not helpful to start your case by making statements, not backed by data, on who and where the Node.js community lives. While you have existed in some way or another for many, many years in the Node.js community, you also are making lots of stated assumptions in repos and on Twitter about folks you are engaging with. I would ask you to refrain

[2017-08-29 17:18] bnb commented on #117
@Marak if you have an issue with someone from the CommComm - or the Node.js org in general - actively encouraging exclusivity and hatred, I *urge* you to report it to report@nodejs.org. We do take accusations like this very seriously, and will go through the full moderation process for *every* report.

This issue is not the forum for this kind of report, nor a platform for discussion around it. Yo

[2017-08-29 17:24] bnb commented on #116
@mhdawson That would be extremely helpful ❤️

[2017-08-29 17:27] bnb commented on #116
@vsemozhetbyt Submitted a PR to the main README (where this is pulled from AFAIK): https://github.com/nodejs/community-committee/pull/118

[2017-08-29 17:36] renrutnnej commented on #116
@refack Did you mean the dates? The times look correct to me.

[2017-08-29 18:12] benjamingr commented on #117
@hackygolucky that's a really good start.

I was hoping we could solidify these things into a document which we can refer people to.

Do we have any statistics about members who are not from a "classic" collaborator pool that we're proud in? I can name anecdotal examples but I was thinking something like:

 - Why does Node.js have a Code of Conduct?
 - What's inclusivity? What does it mean?
 - Why

[2017-08-29 18:39] rachelnicole commented on #117
@benjamingr these are all really really great. I know @ashleygwilliams will definitely have a lot of input on some of your points with her experiences teaching groups all over the world w/ Node Together too.

[2017-08-29 18:41] bnb commented on #117
@benjamingr To this point, there may be some info we can use from the Node.js User Survey (here's the "[executive summary](https://nodejs.org/static/documents/casestudies/Nodejs_2017_User_Survey_Exec_Summary.pdf)" -
 we may need to go deeper) the foundation put out a while ago - @hackygolucky will probably have some more details, but there's quite a bit of good info there.

[2017-08-29 18:44] hackygolucky commented on #117
I can dig in if you need, but the Executive Summary should have those numbers. If not, the Education summary does.

[2017-08-29 19:44] mhdawson commented on #116
Looks like somebody beat me to it.

[2017-08-29 20:11] refack commented on #116
@renrutnnej dates for sure. And since I look at 00:00 times first I thought the times too, but it's just that that hasn't been updated 😄
![image](https://user-images.githubusercontent.com/96947/29841746-9de93cf6-8cd4-11e7-996f-bef8f038f6ce.png)

[2017-08-29 20:55] hackygolucky commented on #116
lol I didn't know where the tool was that generated the times, so that was me messing up at like, 1am. Sorry y'all.

[2017-08-29 21:01] hackygolucky commented on #116
@refack I'm sorry I left off some of the observers! I thought the majority of last meeting were for a single visit as related to the Website WG discussion. I've added you and @therebelrobot back.

[2017-08-29 22:54] jpwesselink commented on #116
I'll be there.

[2017-08-30 16:04] hackygolucky commented on #35
There is a proposal in the TSC right now for this that I think we should consider. Furthermore, I think it would be very helpful to look towards a future where the CoC and Moderation is in a separate repo, such as Admin, that is jointly scoped for both the TSC and CommComm where we are contributing together to these instead of contributing to another committee's CoC and then linking to it :)

[2017-08-31 00:03] DelanoJ84 commented on #117
Is this referring to only that 1 quote from the 10+ on the list or does it also include the sterilization, gendercide, and targeted harassment ones?

[2017-08-31 00:10] ljharb commented on #117
It's referring to people *reporting* all those comments.

[2017-08-31 00:25] DelanoJ84 commented on #117
So is the problem that the board only found out about these sterilization and gendercide comments after third parties reported it?

[2017-08-31 00:50] rachelnicole commented on #117
@benjamingr could you please remove the link to the reddit post & direct reference to @ashleywilliams as we can discuss how to better explain inclusivity without drawing any more attention to it.

@DelanoJ84 could you also please put your comments into details blocks as it's off topic, and unrelated to discussing how to better explain inclusivity.

Discussions of active CoC reports is not on topic

[2017-08-31 14:44] hackygolucky commented on #116
I will distribute the Hangouts link for members shortly before we go Live via email, so please watch! I was going to use Zoom but the Zoom to Youtube Live coordination requires some LF fidgeting still that is being worked out.

[2017-08-31 15:47] jpwesselink commented on #116
Sorry folks, I won’t be able to make it...

[2017-08-31 16:21] bnb commented on #116
Updated with the livestream URL, since the Node.js Foundation Live URL didn't work.

https://www.youtube.com/watch?v=4n_45XAm7-U

[2017-08-31 16:27] msmichellegar commented on #116
Hey everyone, I somehow missed out on the Hangouts link via email. But I'm watching the livestream (which is fine don't worry, I'd just like to observe this time around while I get the hang of things).

[2017-08-31 18:14] hackygolucky commented on #116
noooo @msmichellegar I'm so sorry. Will DM next time if I don't see you.

[2017-09-01 10:24] TimothyGu commented on #33
The lack of moderation on IRC channel **is a problem** and **is driving people away**. A member of the community has only recently described #node.js on another Freenode channel as "regularly explodes into flame wars" and eventually left because they "can't stand it anymore". IMO, IRC should indeed have a higher level of tolerance for language because of its instant nature, but some of the things

[2017-09-01 14:21] jfhbrook commented on #33
@baudehlo congrats on the child!

but I haven't seen you take a single moderation action, even when we've mass pinged mods in the past. Even so, people have to be actively participating at least sometimes to be an effective mod, I'm sorry.

[2017-09-01 14:37] baudehlo commented on #33
I have all my logs in irccloud going back years. When was this ping and who from?

If I'm at work when I'm pinged I respond, always.

Here's the full list of "pings" I have:

* I have one ping from kiraid on May 12th at 9:08pm. I'm not around at that time.
* Another from naezith on December 28th 2016 at 6:19pm. I wasn't around.
* I have sdegutis asking if I'm an op on August 28th at 2:06pm which I

[2017-09-01 15:14] joepie91 commented on #33
@baudehlo I have pinged a number of ops (including you) in the channel several times in recent history:

[code]

Of these cases, you only responded on June 1, by updating the topic.

As for me personally, I typically only bother pinging ops in channel in extreme cases, because it virtually never results in an op response anyway (from either you or anybody else, leaving the reason for that aside),

[2017-09-01 15:37] baudehlo commented on #33
#2 is hard because on a channel with lots of scrollback it's hard to find who said your name (maybe easier in other clients, I'm not sure). PM ops if you want them. I will respond, fast in EST business hours, slower in all other cases. I get PMs on my phone though, so you will likely have more luck that way.

Perhaps we should say that in the /topic too.

As I said, we do need more moderators, but

[2017-09-01 15:39] rachelnicole commented on #33
i think whatever we decide on it should definitely be reflected in a gist somewhere so people can see who to contact / about what, etc.

i run irc cloud too, and often the only questions i get in pings are people asking me why other people banned them, or technical questions.

[2017-09-01 15:43] jfhbrook commented on #33
I agree that @AvianFlu has been fantastic. I'm trying to be more generally available myself, but haven't been around as long, don't have my client set up yet, and have been dealing with some personal shit the last month or so--so bad timing.

I also agree that it would be nice to get some nite modz. We're pretty US-centric, and while ime traffic does decrease at night, there are still situations t

[2017-09-01 15:45] jfhbrook commented on #33
Regarding an on-call, one idea, and I don't have much bandwidth for hacking these days, is a moderation bot that implements oncall schedules, so you'd `!oncall` and hilight mods that have registered as being available at those times.

[2017-09-01 15:46] ljharb commented on #33
@jfhbrook just wanted to dispute your "2 years" comment; until last September or so, I've been a very active op in that channel, frequently enforcing the node CoC and moderating issues. During my 2 years or so being an op there were very few times I wasn't online when an issue occurred.

[2017-09-01 15:47] jfhbrook commented on #33
I'll be the first to admit that my sense of time is very poor. I'll regularly confuse 6 weeks and 6 months in conversation, much to the frustration of my friends. In other words, I don't entirely dispute that.

[2017-09-01 16:04] joepie91 commented on #33
You'd probably want `!ops`, then - that's the de facto standard for these kind of bot pings in most channels, and I've more than once seen a user attempt to use that command in #Node.js as well.

I understand that this can be tricky, but it's not reasonable to expect random channel users (ie. not me) to PM 5-10 people on the access list in the hopes of catching one that's active. This is a problem

[2017-09-01 16:53] jfhbrook commented on #33
I'm also going to throw out there, and I'm not necessarily advocating for anything, but @ljharb was at one point in time a mod, and while I don't remember how that went or why his @ got taken away (probably @Amorelandra can say more) I've seen him be pretty involved in the channel and having deescalated a number of situations. If we're going to be cleaning up the access list and adding people that

[2017-09-01 16:53] jfhbrook commented on #33
RE: !ops, is that smart enough to not ping me if I'm sleeping? Not critical for this kinda thing, jsut wondering.

[2017-09-01 17:23] Amorelandra commented on #33
Hey everyone. I'm glad to see an increased interest in moderation of IRC.
It seems like we have an issue that might involve technical solutions as well as additional recruitment.

I'd also just like to mention that I'm almost always available to drop into IRC. I'm not currently idling a client in the channel, but I can be reached via twitter (my DMs are open).

[2017-09-01 17:33] jfhbrook commented on #33
@Amorelandra something I would very much like to see is, from everyone on the access list, either a commitment to be on irc and participating in chat for at least a few hours a week, or voluntarily removing themselves from the access list. Considering that you're not even on freenode: how do you respond?

[2017-09-01 17:34] Amorelandra commented on #33
@jfhbrook I'd respond by asking you to chill a little bit. I don't think it's reasonable to expect moderators to be online 24/7.

[2017-09-01 17:36] vanessayuenn commented on #114
Would love to help on this as well! 😺

[2017-09-01 17:36] jfhbrook commented on #33
No, but it's reasonable to expect moderators to be online and participating a couple times a week. It's possible we've just missed each other, but I have not ran into you on that channel in what feels like months. You're not the only one either.

[2017-09-01 17:38] Amorelandra commented on #33
Yep, you've definitely been missing me, then.

I'm happy to chat through solutions, but the blame game doesn't seem like a productive endeavor.

[2017-09-01 17:39] jfhbrook commented on #33
I don't want to blame people, I want mods that do more than idle, and I don't appreciate being told that the status quo is ok, because it's not, and I know this isn't just me--multiple people have already backed me up on this.

[2017-09-01 17:40] Amorelandra commented on #33
who's saying this to you?

[2017-09-01 17:41] jfhbrook commented on #33
All I know is that I'm getting resistance when I'm saying that mods are generally unavailable. I interpret this as being told that existing mod coverage is fine.

[2017-09-01 17:41] Amorelandra commented on #33
I think we would all do better to ask clarifying questions rather than making assumptions.

What can I help clarify?

[2017-09-01 17:48] joepie91 commented on #33
I'm not aware of any `!ops` bots that are availability-aware (ie. have an 'on call' system). It wouldn't be hard to write one, though.

[2017-09-01 17:49] jfhbrook commented on #33
Sure:

1. @joepie91 has strong evidence that we've had extreme difficulty getting ahold of moderators at many hours of the day, and I can anecdotally confirm. Why is this? why shouldn't existing mods have to answer for this in some manner?
2. Out of people currently opped in the channel, I've seen @AvianFlu actively moderate, and myself participating casually at work and more in-depth at home and

[2017-09-01 17:51] jfhbrook commented on #33
@joepie91 starting to think that the on-call schedule component would be more trouble than it's worth. :) but worth talking through regardless.

[2017-09-01 18:01] Amorelandra commented on #33
Because this isn't an inquisition, it's a call for solutions. People are allowed to have lives that exist outside of IRC. There's nothing to "answer for".

If the desire is for *more* moderation, why are you asking to remove access for existing moderators? There is no real limit to the number of people who can be on the list. It seems to make more sense to simply find additional folks willing to g

[2017-09-01 18:05] joepie91 commented on #33
Sure, they are, but when those lives become so time-consuming that people are unable to moderate the IRC channel, then perhaps they are not in a good position to be moderators for it?

I already answered this several comments ago: it is unclear who is available to deal with channel incidents, and people are discouraged from reporting issues when the people they message or ping consistently don't e

[2017-09-01 18:06] Amorelandra commented on #33
This sounds like a problem in need of a technical solution. I like the idea of a way to ping all ops via a simple and well-understood command.

[2017-09-01 18:07] ljharb commented on #33
I'm not sure tone policing is going to help keep the conversation productive.

[2017-09-01 18:12] jfhbrook commented on #33
Being an irc moderator is a *responsibility*. Either you **take on** that responsibility, or you don't. This doesn't fly.

It's extremely disheartening when those moderators don't actually show up to do anything. A name that doesn't lead to anything is more than useless, it's just noise. There needs to be some confidence level around thinking that pinging a mod will actually bring someone online.

[2017-09-01 18:17] rachelnicole commented on #33
@Jfhbrook how is saying that I'll be responsive if someone pings me not participating? Legitimate question. I'm always online as part of my job as is a lot of other people on the list. Perhaps we just need to create a better call to action for situations that need to be moderated.

[2017-09-01 18:18] jfhbrook commented on #33
@rachelnicole participation means hanging out in the irc room, answering questions, talking to people, noticing when prometh is being a jerk about angular again and reminding people that we all have different opinions about tech and that shitting on other peoples' work isn't really acceptable, etc.

You can't get that from idling.

[2017-09-01 18:18] Amorelandra commented on #33
What kind of answers are you looking for?

I'm not comfortable with this association.

My apologies if it came across as "tone policing", but I'm trying to understand your perspective and ask for clarification. Nothing I have said has been an attempt to invalidate what you're saying. Please do not misinterpret my concern for your well-being as an attempt to police your tone.

[2017-09-01 18:22] jfhbrook commented on #33
I don't believe for a second that this is in good faith.

Hey, I'm not a huge fan of the cops either. Insert whatever metaphor you prefer--the point is that the @ isn't something you get for being cool.

See my answer to rachel's question.

[2017-09-01 18:22] rachelnicole commented on #33
@jfhbrook idk i think in this case, I disagree. I've been using irc for over half my life and have been in lots of channels that run like ours do.

You don't need to be a moderator to tell people that people have different opinions on tech. Moderation is only necessary when users can't self moderate themselves.

I am willing to come up with a better solution than what exists though! It should be r

[2017-09-01 18:24] Amorelandra commented on #33
OK, then! I'll be abstaining from further comment.

[2017-09-01 18:34] joepie91 commented on #33
Which occurs with some regularity, and there is no clear escalation path, nor is there active participation from channel operators to spot trouble *before* people walk out in frustration. Which is why this thread exists in the first place.

I'm not sure what is even being discussed now. It has been indicated repeatedly that there is a problem with the level of moderation in the channel, by multipl

[2017-09-01 18:36] baudehlo commented on #33
Joshua what you're missing from your "if you're not active then GTFO"
response is that not everyone is active all the time, and so taking that
attitude means you'll just kick someone off the list because they haven't
been active for N days/months, when they may have just been super busy at
work, or in their personal life, and will get back to being on #Node.js
soon. I've definitely been that way.

[2017-09-01 18:38] rachelnicole commented on #33
@joepie91 I just said "I am willing to come up with a better solution than what exists though! It should be revisited"

Should we close this issue and start a new one with actionable items / requests to keep better track of how to improve the policy?

[2017-09-01 18:51] joepie91 commented on #33
I don't see what closing this issue and opening a new one would accomplish. I've already provided a number of [actionable items](https://github.com/nodejs/community-committee/issues/33#issuecomment-326607286) for solving the moderation issues in the channel, based on over two years of active participation(!) in the channel, but instead people seem to be getting upset about the possibility of their

[2017-09-01 19:04] rachelnicole commented on #33
Okay cool, I'm fine with stepping down from ops since the level of participation I'm willing to contribute seems to be not good enough for what you think is best for the channel.

Good luck.

[2017-09-01 19:07] mcollina commented on #33
@rachelnicole please reconsider. IMHO this issue is about having _more_ ops rather than less ops.
I'm definitely not agreeing on the direction this conversation is taking.

Can we talk about _more_ ops, rather than a process to remove the existing ops?

[2017-09-01 19:09] baudehlo commented on #33
I agree with Rachel, if that's the consensus then I'm happy to step down
too. Keeping adding/removing mods based on their activity level seems like
a daft idea to me, as you'll just remove people never to add them back. I
don't know why Sven is going all hyperbole on this. We've said we want more
moderators and better tools, but it seems to be the aim to get rid of the
current mod team and find a

[2017-09-01 19:10] rachelnicole commented on #33
@mcollina i tried to steer the conversation into a different direction explicitly talking about improvements in a clean thread and it seemed to be not good enough. I think @joepie91 is under the impression that some people care about the 'status' of being an op, which I honestly couldn't care less about, I just volunteered last time someone asked if i would be willing to help.

[2017-09-01 19:14] jfhbrook commented on #33
well hey, I'm out. It's clear that nobody in this group sees eye-to-eye with me when it comes to the commitment that being an op on irc should bring with it, and I'm unwilling to put in the effort I think is necessary if I get minimal backup.

[2017-09-01 21:50] hackygolucky commented on #33
@jfhbrook Reading this scrollback, I see a lot of folks _agreeing_ with you on the need to fix a lot of problems you've generously spent your time identifying. The methods to which you were offering a solution they may have disagreed on, but we have to find some common ground here.

Ultimately, this entire thing, a large OSS effort, is still almost entirely a volunteer effort. I am a paid employee

[2017-09-01 22:30] bnb commented on #116
Closing this, as the minutes were merged here: https://github.com/nodejs/community-committee/pull/120

[2017-09-01 22:30] #116 closed

[2017-09-01 22:33] Amorelandra commented on #33
Thank you, @hackygolucky.

After talking through issues discussed in this thread I've done two things to improve my availability and address what I perceive as misgivings:
* I have switched to the use of IRCCloud so as to be alerted of pings via my mobile device as well.
* I have removed auto-op from my channel access flags, so that my name longer appears by default with the contentious "+o/sherif

[2017-09-01 22:56] jfhbrook commented on #33
@hackygolucky,

The only reason this channel has any traction at all is because of about a dozen people that spend almost all day in there, on a volunteer basis. Obvious examples include ljharb and joepie, but there are others. I get that volunteering takes time, but there are currently people taking that time even though they're largely powerless to fix problems when they see them.

Yes, I do thi

[2017-09-01 23:05] Amorelandra commented on #33
_[I'm happy to re-post this on another thread if appropriate]_

If you have any interest in helping to moderate the IRC channel, and you are at least somewhat active on a regular basis: let me know. You don't have to be an expert at IRC. I will be more than happy to show you the commands and explain our moderation strategy.

[2017-09-01 23:36] baudehlo commented on #33
Why aren't ljharb and joepie mods?

[2017-09-02 19:50] RichardLitt commented on #114
At the fortnightly CommComm meeting, we talked about this a bit more. [See minutes](https://github.com/nodejs/community-committee/blob/master/meetings/2017-08-31.md#internationalizationlocalization-working-groups-114).  That action items out of this are that me and @rachelnicole have volunteered to meet with @hackygolucky and members currently working on translation efforts to start the transition

[2017-09-02 23:32] bnb commented on #33
@Amorelandra definitely interested in collaborating on that bot - happy to help however I can. 👍

[2017-09-03 08:37] joepie91 commented on #33
(I'm only around for a brief moment today - I'll write a more extensive post later, if people have further questions.)

@baudehlo: For me personally, the offer has been extended to me in the past, but I've turned it down due to conflict-of-interest issues; most notably, some of my [tutoring](http://cryto.net/~joepie91/code-review.html) customers come from #Node.js, and I don't want to create an im

[2017-09-03 17:23] fhemberger commented on #114
Linking this related issue: https://github.com/nodejs/nodejs.org/issues/972
@sotayamashita (with GitLocalize) is working on establishing a translation workflow for editors.

[2017-09-04 01:48] sotayamashita commented on #114
@fhemberger I appreciate that you mentioned me.

I am struggling to do it. It will take time to solve the problem between GitHub and GitLocalize. If we take too much time, I think I will give up integrating with Node.js at the moment and I will create an issue when we solve the problem.

[2017-09-04 13:55] fhemberger opened #121 "Promoting collaborators to website WG members?"
(Hi, not sure if this is the right place for this issue, if there's a better fit, please let me know.)

Currently, there are four people listed as Website Working Group Members:

- Phillip Johnsen (phillipj)
- Mikeal Rogers (mikeal)
- Rod Vagg (rvagg)
- and me.

With Mikeal's departure and Rod's role in the community currently being discussed, this leaves only Phillip (who's currently busy with wo

[2017-09-04 14:47] TimothyGu commented on #121
Slightly off-topic, but I would be interested in helping out with the Website WG.

[2017-09-04 20:24] bnb commented on #121
Generally these guidelines are defined in GOVERNANCE.md for a WG - you can take a look the ones for the [Evangelism WG](https://github.com/nodejs/evangelism/blob/master/GOVERNANCE.md#collaborators) to see an example.

Generally this is a loose process, and varies in intensity and execution from WG to WG. For example, the Security WG has a more strict membership process and is currently undergoing

[2017-09-04 20:29] bnb commented on #121
One thing that would help: Have a place to land for new members/those interested in working on a website redesign. Even creating an issue to ask for interest in contributing would be a MASSIVE help - I know that'd be a great piece to share and help drive new contributors. ❤️

[2017-09-05 00:40] gibfahn commented on #121
I'd also be interested in helping out with the website WG.

[2017-09-05 05:37] XadillaX commented on #121
I'd also be interested too.

[2017-09-05 05:56] Amorelandra commented on #33
@joepie91 I'm definitely still open to revisiting this offer if you feel it would be appropriate and we have support from other moderators.

[2017-09-05 06:44] fhemberger commented on #121
Just as a side node, there's no big difference between a collaborator and a WG member in the website WG. The only differences are:

- We're compiling a list of GitHub committers from time to time to have them added as collaborators
- When a change is debated and no consensus can be reached, the WG members decide together (which was rarely needed so far)

[2017-09-05 16:19] MylesBorins opened #122 "An alternative strategy to moderation"
Copied from https://github.com/nodejs/TSC/issues/114

---

So I've been thinking quite a bit about moderation, and specifically some of the pain points that we have been dealing with. The biggest problems that I currently see are. You will find bold TLDR's throughout this brain dump of the key points.

1. It is impossible to codify code-of-conduct violations without marginalizing a group
   - a go

[2017-09-05 16:58] bnb commented on #122
I am generally +1 to this - seems like a better policy than we've currently got in place that isn't really working (at no fault of the people working to follow and enforce it, mind you).

This part really spoke to me:

This touches on so many aspects of the moderation issues we've faced, and I believe is entirely accurate and fair. Thank you, Myles, for the extremely concise wording - I don't thin

[2017-09-05 17:09] mcollina commented on #122
This is important. IMHO the problem is not about making mistakes, but rather making mistakes to purse one's agenda. A mistake can be quickly amended if that happens.

[2017-09-05 17:10] mcollina commented on #122
Definitely 👍  to this proposal.

[2017-09-05 20:48] MylesBorins commented on #121
I'd like to advocate for making all committees wg members. I'm not sure the
hierchy is needed

On Sep 5, 2017 2:44 AM, "Frederic Hemberger" <notifications@github.com>
wrote:

[2017-09-07 23:49] mhdawson commented on #122
I think this is a great starting point for discussion by the new members of the moderation team.

[2017-09-10 10:13] fhemberger commented on #121
@MylesBorins I'm totally fine with that as well.

@bnb I don't think we have a lack of people willing to help implementing the design. It's just the design itself (or to take a step back – the general content/ux direction) we've been waiting for. There were comments in the past that "the foundation is working on something" (probably involving the people responsible for the overall Node.js corporat

[2017-09-10 11:50] gibfahn commented on #22
@williamkapke regarding the events the bot responds to, specifically this:

Does this mean that if someone pushes directly to the branch without raising a PR then the bot will still take the action?

It would be good for the bot to only take action if the change came from an approved PR. I guess we could maybe achieve that by using protected branches with [required reviews for Pull Requests](https

[2017-09-10 11:52] gibfahn commented on #22
Also reading through this it sounds like you were looking at logging bot activity somewhere, is that still something that needs to be implemented?

[2017-09-10 17:15] gibfahn commented on #122
Agreed on both points.

I think the problem is (personal opinion) that we don't have a clear process that empowers collaborators to act. We have [the moderation policy](https://github.com/nodejs/TSC/blob/master/Moderation-Policy.md), but it's long and leaves quite a lot up to the moderation team's discretion.

How about this as a proposal:

#### Moderation process:

- When a collaborator wants to

[2017-09-10 17:43] fhemberger commented on #121
Suggesting to join both groups for the website WG, closing.

[2017-09-10 17:43] #121 closed

[2017-09-11 04:53] williamkapke commented on #22
@gibfahn

Yup. It _seemed_ like that'd be desired. But maybe this behavior needs to be different depending on the action? For instance- we MAY want to block a user immediately by pushing directly. But it seems unlikely we would manage teams in an immediate way like that. Yeah, we could have protected branches- but it's not hard to adjust the rules of when the script is fired either.

The main idea

[2017-09-11 19:29] williamkapke commented on #11
FYI: the slack registration is now at http://nodeslackers.com

(was: nodeslackers.io)

[2017-09-12 06:42] MylesBorins opened #125 "Email Alias not up to date with membership list"
https://github.com/nodejs/email/blob/master/iojs.org/aliases.json#L108-L115

    "nodejs.commcomm@martynus.net",
    "hello@bnb.im",
    "loveless@gmail.com",
    "joesepi@gmail.com",
    "tracyhinds@gmail.com",
    "richard.littauer@gmail.com",
    "hi@jennwrit.es",
    "michael_dawson@ca.ibm.com"

vs

Bryan Hughes (nebrius - Community Committee Chair)
Jenn Turner (renrutnnej - Community Committe

[2017-09-12 19:36] williamkapke commented on #125
It was created stemming from: #89

Only those that chimed in were added to the list. I wasn't added because I missed the moment.

Fix: https://github.com/nodejs/email/pull/61

[2017-09-12 19:38] williamkapke commented on #115
Ping @willi84

[2017-09-12 19:47] williamkapke commented on #113
@nebrius proposed some reasonable deadlines- but we've fallen behind on them. Oops!
- Nominations ended a few days ago.
- Elections were requested to start yesterday.

It looks like we have 2 nominations: @rachelnicole and @bnb

@hackygolucky Hopefully we can look to you to set up the voting ASAP? Not sure how long it would take you, but I suggest we keep voting open for a min of 4 days (the durat

[2017-09-12 20:22] hackygolucky commented on #113
Question! do members voting want their vote to be transparent? We haven't technically had to have an election before and I wanted to see
1. should members selection be visible?
2. should the election be public vs. something else scoped to the members, such as the commcomm email list?

Once, i know this, I'll set up the vote with a close date and time 4 days after open.

[2017-09-12 20:47] rachelnicole commented on #113
I'm fine with it being public.

[2017-09-12 21:35] renrutnnej commented on #113
I'm fine with it being public as well, and was hoping it would be resolved by the end of this week :(

[2017-09-12 21:51] bnb commented on #113
I'm fine with it being public as well.

@hackygolucky For additional context, with regard to 2: do you mean the ability to vote or the ability to _see_ who voted? Pretty sure the latter, but want to make sure I understand the wording correctly 🤔

Given the concern @renrutnnej voiced, I'd be +1 for closing the vote on Friday or Monday.

[2017-09-12 21:57] bnb commented on #125
FWIW, we were not able to get the emails of everyone on the list. Just submitted: https://github.com/nodejs/community-committee/pull/126

[2017-09-13 01:27] williamkapke commented on #113
I would like to set the precedent that all votes for elections use https://en.wikipedia.org/wiki/Secret_ballot.

[2017-09-13 14:35] bnb commented on #113
@williamkapke Would love to hear specific reasoning behind that. I have no problem with it being open, but if there is a legitimate reason to use a secret ballot process in the CommComm and other Org groups I am +1.

If there are members who _do not_ feel comfortable voting publicly - or would be +1 for votes to be private - I believe we should respect their wish and have a private vote.

[2017-09-13 16:48] MylesBorins commented on #113
If there are members who do not feel comfortable with a public vote and would like to anonymously voice that concern I would like to make myself available to proxy that. Personally I am +1 on transparency for this

[2017-09-13 17:31] williamkapke commented on #113
@bnb There are several reasons in the wikipedia article I linked. More contextually, some TSC members in the past expressed their discomfort to doing it in the open for those same reasons.

Personally, if it isn't private, I am forced to abstain.

Moreover, why are folks here so interested in knowing each individual choice? This vocal desire to know exactly who your committee mates favored is alre

[2017-09-13 18:54] gr2m commented on #113
I’m okay with making my vote public, too

[2017-09-13 19:11] rachelnicole commented on #113
@williamkapke For me I think either of us would be fine as chair of the committee so I'm not going to take it personally if someone doesn't vote for me? I don't see how it's threatening at all?

[2017-09-13 19:12] renrutnnej commented on #113
@williamkapke I'm not comfortable with your assumption of why I'm okay with my vote being public.

I don't care who other people vote for, in the same way that I don't care who knows how I voted.

I do care about moving the process along, and resolving the issue.

I don't understand where any of this thread is vaguely threatening in the slightest.

[2017-09-13 19:25] refack commented on #113
I'm with @williamkapke. While a public vote seems like a more "brave/honest" path, the process of choosing such a process has selection bias. People who don't feel comfortable with voting in a public manner, will likely abstain from voicing their opinion on the openness of the process. In this case IMHO the process should err on the side of caution vs openness.

Plus there is already one member wh

[2017-09-13 19:48] hackygolucky commented on #113
Okey dokey. I think it's a good point to remember that when folks are sharing their opinions here, they are _just_ that. The individual's opinion. It is one vote(if you are a CommComm member). Yours can be different, and votes are a regular part of process when consensus doesn't occur(and that's common with our work!). We can ask questions to understand their argument. We should not make assumptio

[2017-09-13 19:54] rachelnicole commented on #113
@hackygolucky I'd rather not vote on how we vote so I'm fine with that.

[2017-09-13 20:43] bnb commented on #113
@hackygolucky +1.

[2017-09-14 14:25] renrutnnej commented on #113
@hackygolucky +1

[2017-09-14 15:40] hackygolucky opened #127 "Node.js Foundation Community Committee (CommComm) Meeting 2017-09-14"
Node.js Foundation Community Committee (CommComm) Meeting 2017-09-14
--------------------------------------

## Time

**UTC Thu 14-Sep-2017 20:30 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 31-Aug-2017 09:00 (09:00 AM) |
| US / Mountain | Thu 31-Aug-2017 10:00 (10:00 AM) |
| US / Central  | Thu 31-Aug-2017 11:00 (11:00 AM

[2017-09-14 15:53] #89 closed

[2017-09-14 16:09] mhdawson commented on #127
Is the meeting starting soon ? I'm on stuck on the "requesting to join" page.

[2017-09-14 16:09] joesepi commented on #127
@mhdawson there was a new hangout link sent.

[2017-09-14 16:10] mhdawson commented on #127
ok looking for the email thanks

[2017-09-14 16:51] nebrius commented on #127
Can you please remove me from the invite list?

[2017-09-14 18:30] joesepi opened #129 "I'd like to be considered as a CommComm member"
On June 30, I asked to become an observer. #85

According to the Contributing guidelines, I need to observe for 3 months before being considered for membership:
https://github.com/nodejs/community-committee/blob/master/CONTRIBUTING.md#becoming-a-member-and-collaborator

On Sept 30, it will be 3 months.
We have a meeting on Sept 28.
Not sure when this issue should be addressed: at or after the Sept

[2017-09-14 18:59] bnb commented on #129
I am +1, but this does bring up an interesting point:

There were a few skipped meetings in that time. Are those considered a part of the three months, or must it be _present in three months of meetings_?

Personally, I think those should be counted toward the three months - it was a choice on the CommComm's part to not have those meetings, which doesn't reflect on you - but I'm not sure if the Go

[2017-09-14 19:03] joesepi commented on #129
Yeah, I wondered about this as well, but the contributing doc just says "3 months":
https://github.com/nodejs/community-committee/blob/master/CONTRIBUTING.md#becoming-a-member-and-collaborator

So I wasn't sure. Whatever is decided though, I am okay with.

[2017-09-14 19:13] rachelnicole commented on #129
Yeah, I think the current wording is set to mean 12 weeks chronologically, not 12 consecutive meetings.

I'm +1 to Joe also becoming a collaborator.

[2017-09-15 04:37] gr2m commented on #129
I’d suggest start a PR and we can approve / discuss there? Might be easier than +1 comments here

[2017-09-15 17:44] mhdawson commented on #129
A agree its chronological.

+1 to joesepi being added.  He's met the required criteria and would like to make it as easy as possible for him to participate/contribute to our activities.

[2017-09-15 19:17] hackygolucky opened #131 "September 2017 Election for Community Commitee Chair"
We are electing a new Chairperson of Community Committee.

## Nominated candidates:
- @bnb Tierney Cyren
- @rachelnicole Rachel White

As stated in the previous election, expected responsibilities include but are not limited to:
- Create each meeting's agenda.
- Create the event and make sure it is live-streamed in YouTube.
- Chair and facilitate each meeting. It is the chairperson's responsibilit

[2017-09-18 12:23] bnb commented on #127
@nebrius Done.

[2017-09-18 12:24] #127 closed

[2017-09-18 12:24] bnb commented on #127
Closed - https://github.com/nodejs/community-committee/pull/128 has landed ❤️

[2017-09-18 17:44] hackygolucky commented on #131
The result of the election has finished early due to all members completing their votes prior to the deadline.

The result is a tie with equal votes going to both Tierney and Rachel. After consulting with both of the candidates along with the Individual Directors, it was determined that a healthy solution to this tie would be co-chairs of the role.

**If no one objects, Tierney and Rachel will be

[2017-09-18 17:49] jpwesselink commented on #131
Congrats to the both of yous!

[2017-09-18 18:32] dshaw commented on #131
Great. I'd love to see this evolve to be 2 discrete roles with a chair and a board representative. Mirroring the TSC's structure.

I also encourage the CommComm to plan for this in the future and structure a standard tie-breaking process. The coin flip process we used for Gold Directors feels a bit too arbitrary. (This is coming from the _winner_ of the last one.) Strong consensus is hard. We shou

[2017-09-20 12:03] Fishrock123 commented on #127
Heya, this issue was not linked back from the livestream description - I recommend doing that next time. :)

[2017-09-20 12:04] Fishrock123 commented on #127
Ahhh looks like it was from hangouts and that is more integrated now. You can edit the links into the video description afterwards, fwiw.

[2017-09-25 17:51] bnb opened #134 "Add CommComm Section to Node.js Website"
I recently noticed that on the Node.js website there's a larger section on Governance that discusses the TSC at length, and a section about Working Groups. Neither of these sections mentions the Community Committee (or the Board, for that matter).

I'd like to propose we come up with some copy for the CommComm and work on PRing it into the website WG. Additionally, with the way that WGs work under

[2017-09-26 05:29] MylesBorins opened #135 "Should CommComm be pinned on the github.com/nodejs?"
Here are the current pinned repo's... I think it would make sense to put community-committee up there for discoverability.

<img width="1027" alt="screen shot 2017-09-26 at 1 29 27 am" src="https://user-images.githubusercontent.com/498775/30843909-33732530-a25a-11e7-9591-475796eb7411.png">

[2017-09-27 16:55] bnb commented on #135
I think it may be good, but I don't necessarily know if there's a single project we should remove there _for_ CommComm. I am a HUGE +1 to nodejs/help being there. Not sure on others.

[2017-09-27 18:10] bnb commented on #113
Removing agenda tag and closing, as the election is closed and we've landed on our new co-chairs 😁

[2017-09-27 18:10] #113 closed

[2017-09-27 18:12] bnb commented on #35
@hackygolucky Not sure if this issue has any further TODOs, now that the Moderation Team has been created. Any thoughts? 🤔

[2017-09-28 07:37] MylesBorins commented on #135
we could move nan potentially?

/cc @nodejs/tsc

[2017-09-28 13:52] bnb commented on #125
Created a PR for @jpwesselink at https://github.com/nodejs/email/pull/68  - only need to add @msmichellegar now 😁

[2017-09-28 14:21] bnb opened #136 "Node.js Foundation Community Committee (CommComm) Meeting 2017-09-28"
Node.js Foundation Community Committee (CommComm) Meeting 2017-09-28
--------------------------------------

## Time

**UTC Thu 28-Sep-2017 20:30 (04:00 PM)**:

Timezone | Date/Time
-- | --
US / Pacific | Thu 28-Sep-2017 09:00 (09:00 AM)
US / Mountain | Thu 28-Sep-2017 10:00 (10:00 AM)
US / Central | Thu 28-Sep-2017 11:00 (11:00 AM)
US / Eastern | Thu 28-Sep-2017 12:00 (12:00 PM)
Amsterdam | Thu 2

[2017-09-28 14:23] renrutnnej commented on #136
Hey there, when you get a chance can you take my name off the invite list for future meetings? Thanks! Hope today's meeting is a good one ☺️

[2017-09-28 14:27] RichardLitt commented on #136
Same for me. Thank you. :)

[2017-09-28 14:35] bnb commented on #136
Yes, my bad! I thought you were removed. Apologies ❤️

[2017-09-28 14:38] refack commented on #136
FYI:
[Event on the foundation's calendar](https://calendar.google.com/calendar/render?eid=NzVoamFjcG02OWgzZ2I5Z2M4cTZjYjlrNzBwNjRiYjI3MWkzaWJiMzYwcjZhZGo0YzVpM2VkcGxja18yMDE3MDkyOFQxNjAwMDBaIG5vZGVqcy5vcmdfbnI3N2FtYThwN2Q3ZjlhanJwbnU1MDZjOThAZw&ctz=America/Los_Angeles&sf=true&output=xml#eventpage_6) for easy add to ones own calendar.

and an updated Date/Time table.

Timezone | Date/Time
-- | --
U

[2017-09-28 14:41] bnb commented on #136
@refack does that table differ from the one in the OP? 🤔

[2017-09-28 14:45] refack commented on #136
Dates (OP has Aug 31 - Sep 01).
<sub>I discovered that when I used my "Add to calendar" extension</sub>

[2017-09-28 14:50] msmichellegar commented on #136
Should be present, possibly a little late as I have a work meeting until 5pm London time. See y'all soon!

[2017-09-28 15:03] rachelnicole commented on #136
Thanks for taking care of this!!!!

[2017-09-28 15:33] gr2m commented on #136
hey I didn’t get the invite link yet 👋 can someone dm it to me? https://twitter.com/gr2m

[2017-09-28 15:54] msmichellegar commented on #136
Me too please! Don't believe I received the link. http://twitter.com/msmichellegar

[2017-09-28 15:59] bnb commented on #136
Meeting link incoming - apologies for the delay ❤️

[2017-09-28 16:08] mhdawson commented on #136
Ok looking for link as well :)

[2017-09-28 16:13] #129 closed

[2017-09-28 21:21] ZibbyKeaton opened #138 "Kicking Off "How I Got Into Node Series""
Hey All - I was talking with Myles and Michael D. about doing a little series featuring TSC and CommComm members around how folks got into Node, how they started contributing, how they use it, interesting projects they are working on, etc. Just a quick and nice profile piece essentially.

Would anyone in this group be interested in participating? I'll be heading to Node.js Interactive, so happy to

[2017-09-29 20:15] gr2m opened #140 "Sort Community Committee Members alphabetically by first name in README"
follow up for https://github.com/nodejs/community-committee/pull/137#issuecomment-332949316

Any objections?

[2017-09-29 21:12] williamkapke commented on #140
I prefer it. +1

[2017-10-02 17:44] bnb commented on #138
Happy to help out however I can, @ZibbyKeaton - just let me know what's needed!

[2017-10-02 17:45] rachelnicole commented on #138
Same goes for me.

[2017-10-02 18:07] ZibbyKeaton commented on #138
Let's set up a time to chat - I'll send you both emails with a few suggested times :)

[2017-10-02 21:29] mhdawson commented on #140
Sounds good to me.

[2017-10-02 22:35] hackygolucky commented on #140
Thank you!

On Mon, Oct 2, 2017 at 9:29 PM, Michael Dawson <notifications@github.com>
wrote:

[2017-10-04 22:09] bnb commented on #136
Closing - meeting minutes were merged: https://github.com/nodejs/community-committee/pull/139

[2017-10-04 22:09] #136 closed

[2017-10-04 22:10] bnb commented on #131
@hackygolucky Can this issue be closed?

[2017-10-04 22:12] bnb commented on #104
Getting Started is in the Admin repo now 💥

Going to close this - feel free to re-open if further discussion is needed.

[2017-10-04 22:12] #104 closed

[2017-10-04 22:13] bnb commented on #38
I believe we did merge this in https://github.com/nodejs/community-committee/pull/101 - going to close for now. Please feel free to re-open or create a new issue if we need to discuss further ❤️

[2017-10-04 22:13] #38 closed

[2017-10-04 22:14] bnb commented on #115
Going to close for now - if you've got any further questions or would like to discuss further, feel free to ping us @willi84 😄

[2017-10-04 22:14] #115 closed

[2017-10-04 22:15] bnb commented on #90
FWIW, these emails can now be found in the [aliases](https://github.com/nodejs/email/blob/master/iojs.org/aliases.json) file in the emails repo - would be great to get this PR'ed!

[2017-10-04 22:18] bnb commented on #21
I believe we've addressed this with the distinction around Members and Observers. If I'm wrong, feel free to re-open or to create a new issue to discuss further 😊

[2017-10-04 22:18] #21 closed

[2017-10-04 22:20] bnb commented on #46
@hackygolucky Did we finalize this? I don't see nodejs/education in the README.md in CommComm, and the TSC issue seems to be a non-issue.

[2017-10-05 15:37] mikehostetler commented on #90
I took some time this morning to whip up this PR. I'm missing email addresses from @msmichellegar and @rachelnicole.

[2017-10-05 16:03] mikehostetler commented on #140
Included this fix in my #141 PR, with the update of sorting alphabetically by Github handle, as opposed to the original suggestion of first name.

Because I first converted the list to be formatted like the TSC Committee, I felt this made more sense.  Feedback appreciated.

[2017-10-06 19:15] joyeecheung commented on #135
Moving nan seems plausible.

[2017-10-07 01:07] obensource opened #142 "Add Ben Michel (@obensource) as a meeting observer"
Please add me as an observer on the community-committee's meetings.

Thanks all, today was amazing. Really excited to jump in! 🙌

🎉🎉🎉

[2017-10-07 18:41] gr2m commented on #142
Welcome :)

[2017-10-07 18:47] bnb commented on #142
Will do 😁

[2017-10-07 18:54] bnb opened #143 "If someone submits a PR, should we invite them as an Observer?"
After the last week at Node Interactive, we've discussed a lot around enabling people further.

One thing I'd like to discuss is if there's a first time contributor to the repo, should we automatically invite them to meetings as an observer? Of course there is no requirement to come, but I think it's a good first step to encourage further contributions.

[2017-10-07 18:57] bnb commented on #140
Just shipped https://github.com/nodejs/community-committee/pull/141, so going to close this.

[2017-10-07 18:57] #140 closed

[2017-10-07 18:57] gr2m commented on #143
I like the idea, I’d like to try that out

[2017-10-07 20:33] refack commented on #143
IMHO reaching out with a personal message to the author, welcoming them, thanking for the contrib, and asking them if they would like to join, might have a higher impact.

[2017-10-07 20:45] refack commented on #143
P.S. This something we are trying out in "core". Also striving to assign a "champion" to each PR, so that the author has a human contact, and someone who is explicitly on their side.
RE: https://github.com/nodejs/node/pull/16016 If it wasn't part of C&L I'd also add a few words about the process (the possible review back-and-forth and 48 hour minimal timeframe).

[2017-10-07 22:33] obensource commented on #142
@gr2m @bnb 🎉 🙌 🎉

[2017-10-07 22:50] mcollina commented on #135
I propose we unpin node. It will ever be the repo with the major level of activity.

[2017-10-07 22:57] gibfahn commented on #135
I'd make it

[code]

[2017-10-09 17:11] jasnell commented on #135
We can work on the ordering separately, but for now I've unpinned `nan` and pinned `community-committee`.

[2017-10-10 13:25] mhdawson commented on #142
+1

[2017-10-10 13:25] mhdawson commented on #131
I'm going to close since the election is over, please re-open if that's not the right thing to do.

[2017-10-10 13:25] #131 closed

[2017-10-10 16:50] williamkapke commented on #142
🆒  +1 for Ben!

[2017-10-10 17:13] rachelnicole commented on #142
+1!!!!!

[2017-10-10 18:08] obensource commented on #142
Aww thanks y'all! ❤️❤️❤️

[2017-10-11 03:36] bnb opened #144 "Add CommComm session members from Collab Summit 2017 as Observers"
Creating an issue to add *all* members who added themselves as interested in attending CommComm sessions as observers at the Node.js Collaborator's Summit.

There are a LOT of people, hopefully I didn't miss anyone (don't think I did).

- @chowdhurian (Manil Chowdhury)
- Toby Farley `tobyfarley [at] gmail.com`
- @ParidelPooya (Pooya Paridel)
- @rykerrumsey (Ryker Rumsey)
- @baez (Behzad Karim)
- @

[2017-10-11 15:28] mikehostetler commented on #144
I wasn't able to attend the Collab Summit last week, but I'd love to be included as well. I spoke with @dshaw and @bnb at Node Interactive, but am not sure about the process of being included.

Thanks! Sorry if this is not protocol! I'm not totally plugged in to all the communication channels here yet.

[2017-10-11 15:44] mhdawson commented on #90
I think this can be close since it was PR'd in. Closing.  Please re-open if that was not the right thing to do.

[2017-10-11 15:44] #90 closed

[2017-10-11 17:05] bnb commented on #144
Added you to the list @mikehostetler! Thanks for reaching out ❤️

[2017-10-12 12:12] msmichellegar commented on #138
Happy to help! NodeConf Argentina are doing something similar.

Eg. https://twitter.com/nodeconfar/status/916309823695634432

[2017-10-12 12:13] mcollina commented on #138
I'm always happy to help.

[2017-10-12 14:41] bnb commented on #138
Ping @nodejs/tsc @nodejs/community-committee - would be awesome to hear who's interested in doing this ❤️

[2017-10-12 14:53] bnb opened #145 "Postpone CommComm Meeting until 10/26"
Due to how many people showed an interest in the CommComm meeting at Node.js Interactive in Vancouver, we need to use our secondary live streaming setup that consists of streaming from a local machine out to YouTube. This presents a challenge, and the people I know who are able to help with this are currently unavailable.

Additionally, at least four members are unable to attend because they're at

[2017-10-12 15:23] rachelnicole commented on #145
+1 Thank you Tierney!!

[2017-10-12 15:36] amiller-gh commented on #145
May want to at-mention those who listed themselves as interested too, so people who don’t check Github obsessively aren’t confused in ~30 mins ;)

[2017-10-12 15:59] bnb commented on #145
Also pinging:

@chowdhurian (Manil Chowdhury)
Toby Farley tobyfarley [at] gmail.com
@ParidelPooya (Pooya Paridel)
@rykerrumsey (Ryker Rumsey)
@baez (Behzad Karim)
@BinarySo1o (Therese Stirling)
@JemBijoux (Jem Bezooyen)
@amiller-gh (Adam Miller)
@obensource (Ben Michel - ref: #142)
@yosuke-furukawa (Yosuke Furukawa)
@Maurice-Hayward (Maurice Hayward)
@dshaw (Dan Shaw)
@mikehostetler (Mike Hostetle

[2017-10-12 15:59] bnb commented on #145
Ha, thanks @amiller-gh - my bad. ❤️

[2017-10-12 16:02] mhdawson commented on #145
+1 on postponing

[2017-10-12 16:21] obensource commented on #145
Thanks for making this work and happen @bnb! Really appreciate it! 🙌

Definitely understand postponement based on needing a better setup–regarding attendance tho it might be worth considering choosing a participant minimum based on the total number of members we have to avoid possible future postponement? At very least, might be good to have for the 26th.

Sincerely, a super stoked observer. 🎉

[2017-10-12 17:31] dshaw commented on #145
Thanks for pinging. For those of us who are newbies, mentioning the time would help immensely so we can block off that time now.

[2017-10-12 17:35] ParidelPooya commented on #145
Also for those of us who are newbies, is there any agenda? Or anything I should be prepare for it?

[2017-10-12 17:59] rachelnicole commented on #145
@paridelpooya we usually post the agenda a little bit before, but we are behind due to conference travel and agenda items discussed at the collaborator summit last week.

[2017-10-12 21:10] ZibbyKeaton commented on #138
Hey All -

To streamline this a bit, please provide answers to the following questions and send them to my email zkeaton@linuxfoundation.org. I'll edit them and create an intro. Once I have this, I will share with you for final review. I'll also provide a date when we'll publish this in the ed cal cc: @msmichellegar @mcollina

Question 1: When did you start getting into programming in general?

Qu

[2017-10-12 23:00] bnb commented on #145
Date/time for the next meeting: Thursday, October 26th at 12pm ET (9am PT).

For reference, you can also add the meeting time to your calendar with the Node.js Calendar: http://nodejs.org/calendar

As @rachelnicole said, we usually post an issue the day of, or the day prior. I'd suggest making a note to check the repo for meeting details + join info beforehand.

To address your question @ParidelPo

[2017-10-16 17:14] mikehostetler commented on #112
Did this happen? I'd love to be involved and have experience gathering feedback like this.  If it's stalled, I'm happy to pick up where it was left off.

Thanks!

[2017-10-16 17:59] mhdawson commented on #112
@mikehostetler its not happened yet and if you would like to help lead the effort that would be great.

[2017-10-17 11:15] natashasweety7 opened #147 "Node.JS + MySQL - Getting a Result"
I've been using [node.js ](https://mindmajix.com/node-js-training)and mysql for a while now but I've run into a new issue. I know I made the title seem basic but I just have no idea how I can title this question. So let's say I have:

connection.query(SELECT column FROM table, function(err, result) {
  if (err) {
    console.log(err)
  }
  if (result.length > 0) {
    console.log(result[0].thisNee

[2017-10-17 14:39] rachelnicole commented on #147
Hey @natashasweety7 I think you're looking for the https://github.com/nodejs/help repository!

This one is just for organizing community issues.

[2017-10-17 17:55] dshaw commented on #112
@mikehostetler I'm game to help bootstrap this too. We should have at least 3 team members. @williamkapke, do you have cycles for this effort?

[2017-10-17 18:11] dshaw commented on #112
I pencilled 30 minutes for this immediately following the CommComm meeting on Thursday, November 26th at 10am PT (local time: http://www.wolframalpha.com/input/?i=5pm+UTC,+Oct+26,+2017+in+local+time ).

If there is time during the CommComm meeting, I'd love to hear a brief overview of project objectives and how this group is expected to interact with the CommComm. If the onus is on me to get an it

[2017-10-17 18:15] mikehostetler commented on #112
@dshaw This works for me! Talk to you net week

[2017-10-18 12:47] refack opened #148 "Creating "this week in core" series"
I guess this was re-triggered in CollabSummit
![image](https://user-images.githubusercontent.com/96947/31719259-d129a898-b3e0-11e7-9742-1404cdeeff64.png)
https://twitter.com/addaleax/status/918347360916434944 which was quickly followed with
* https://twitter.com/addaleax/status/920443131396542469 ( @addaleax )
* https://twitter.com/trott/status/920526009350410241 ( @Trott )
* https://mobile.twitte

[2017-10-18 20:35] MylesBorins opened #149 "Running a Values session at JSConf Colombia 3 - 4th November 2017"
I'll be heading to JSConf Colombia in a couple weeks as a speaker. I checked with @julianduque who said it should be possible for us to run a values sessions at the event 🎉

Are people open to this? What do we need to plan in order to make sure it is successful

[2017-10-18 21:49] mhdawson commented on #112
@dshaw just a note that you said November when I think you meant October in your post above.

[2017-10-19 09:54] Tiriel commented on #114
Hey there,

I hope I'm not unearthing something too old.
As seen on the nodejs.org repo and on the nodejs-fr repo:
It seems that the French repo has been pretty dead for 2 years. We are actually 3, maybe 4 people willing to get back on track with the translation, but have currently no way of organizing ourselves.

We have started working on the translation a bit widly, but maybe it would be a good

[2017-10-19 12:26] rachelnicole commented on #114
Hey @Tiriel we would love to have you help out! I'm going to add internationalization to this upcoming weeks agenda again so we can discuss going forward now that we have more members of the community committee maybe we'll have more organizing volunteers. :)

[2017-10-19 12:28] rachelnicole commented on #142
hey @bnb do we list observers on the main Readme do you know? If so, can we open a PR? if not, I think this issue can be closed :)

[2017-10-19 12:31] rachelnicole commented on #144
@bnb are we up to date with a lot of the new invitees?

[2017-10-19 12:49] Tiriel commented on #114
Hi!

That would be great. It seems some are wanting to get to work without really organizing things inside the french translation group, and that works because there is only three of us, but I'd be glad to help anyone getting things more organized so we can plan and have more of a long term vision.

[2017-10-19 15:40] baez commented on #144
Thanks for the emails. Can you send the link to the page for join
instructions ?

Thanks,
Baez

On Wed, Oct 11, 2017 at 10:05 AM, Tierney Cyren <notifications@github.com>
wrote:

--
Behzad Karim

[2017-10-23 16:58] bnb commented on #149
As a post-project, I'd like to start collecting this data into the Community Committee repo if there aren't any objections. This is a HUGE resource for the entire community, and I'd like to see us centralize it if possible. ❤️

[2017-10-23 16:59] bnb commented on #144
@rachelnicole Yep, the list is up to date.

@baez The next meeting is this coming Thursday - we have meetings every other Thursday, and we postponed the previous one. 👍

[2017-10-23 17:00] bnb commented on #142
We don't currently list the observers on the README.md. Closing ❤️

[2017-10-23 17:00] #142 closed

[2017-10-23 17:03] bnb commented on #112
@dshaw I have added this item to the agenda. I believe we've talked about it in the past, but @hackygolucky may be able to help give a brief overview of the goals and how you can onboard to start helping get the work done 👍

[2017-10-23 17:07] bnb commented on #147
Going to close for now - @natashasweety7, definitely check out the https://github.com/nodejs/help repo that @rachelnicole suggested, and feel free to ping us with any more questions regarding this specific thread if you have them! ❤️

[2017-10-23 17:07] #147 closed

[2017-10-23 17:42] hackygolucky opened #152 "Add Sarah Conway (@sarahkconway) as an observer"
Sarah Conway(@sarahkconway)  has requested she be added as an observer on the community-committee's meetings. Sarah is the PR Manager for the Node.js Foundation, and all in all a great resource to get advice from when it comes to outreach and news.

[2017-10-23 20:00] mhdawson opened #153 "Bench-marking team request for survey"
The benchmarking team would like to request help sending out a survey.  They first draft of the questions we have is:

**These should be text entry to leave the answers open:**

- What is your primary use case for Node? (Web Developer Tooling / Standalone Servers / Cloud Services / Others)
- Do you have infrastructure in place for tracking performance on your applications.
- What kind of language

[2017-10-23 20:01] mhdawson commented on #153
@hackygolucky this is the survey we discussed earlier

[2017-10-23 22:59] watilde commented on #114
Here are my feedbacks and topics I'd like to hear opinions from comm-comm meeting.

We've tried for several times, but translating all of the API docs was too hard to catch up the upstream so it'd be out of the scope for now even it's super important. We might need to integrate a system first, like GitLocalize or crowdin. If we'd like have translated docs in the core, docs update should have somet

[2017-10-24 01:28] sotayamashita commented on #114
@watilde

I think it is very hard to keep translation ones update as well so we create GitLocalize but **I would like to list the issue for translation we have before integrating those system.**

[2017-10-24 10:31] Tiriel commented on #114
Another thing to consider IMHO (though it may be a bit of self advertising, kind of...) :

Translating the API docs is indeed a great idea and a super important thing to do, but some people come on the website searching informations on the basic concepts when trying Node. But the basic presentation site isn't translated fully (nor does it have a propre language selector that I've seen). Before per

[2017-10-24 15:17] bnb commented on #153
@mhdawson Is it possible to add what type of answer you're looking for in each question (ex. radio, multiple choice, input, textarea)? Overall I think that would help us create the survey more quickly 👍

[2017-10-24 17:05] JemBijoux commented on #144
Can I ask how long the meetings typically go? Even just a rough estimate, as I wanna be able to schedule my day around it.

[2017-10-24 18:06] rachelnicole commented on #144
@JemBijoux about an hour! sometimes over.

[2017-10-25 15:22] #125 closed

[2017-10-25 15:56] bnb opened #155 "Node.js Foundation Community Committee (CommComm) - Meeting 2017-10-26"
# Time

**UTC Thu 26-Oct-2017 16:00 (04:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 26-Oct-2017 09:00 (09:00 AM) |
| US / Mountain | Thu 26-Oct-2017 10:00 (10:00 AM) |
| US / Central  | Thu 26-Oct-2017 11:00 (11:00 AM) |
| US / Eastern  | Thu 26-Oct-2017 12:00 (12:00 PM) |
| Amsterdam     | Thu 26-Oct-2017 18:00 (06:00 PM) |

[2017-10-25 15:56] bnb commented on #152
Added as an observer in https://github.com/nodejs/community-committee/issues/155

Going to close ❤️

[2017-10-25 15:57] #152 closed

[2017-10-25 17:57] bnb opened #156 "Define Core CommComm Values"
Per the work being done in documenting expectations of both TSC and CommComm leadership (https://github.com/nodejs/admin/pull/12 and https://github.com/nodejs/admin/pull/12#issuecomment-339382066), I'd like to kick off a Values definition for CommComm.

Ideally, this will be several simple bullets that cover the various things that the CommComm holds as values. I think building out a first draft a

[2017-10-25 18:53] hackygolucky commented on #156
Should we try to do an online working session with this akin to what we did at Collab Summit? There's free software that plays like sticky notes on a white board that we could work with, and then we're getting a more genuine result from individuals.

[2017-10-25 19:27] rachelnicole commented on #156
that sounds like a good idea Tracy

On Wed, Oct 25, 2017 at 2:53 PM, Tracy <notifications@github.com> wrote:

[2017-10-25 19:49] bnb commented on #156
@hackygolucky Love that idea. 💥

[2017-10-25 20:30] bnb opened #157 "Beginning CommComm Contributing Office Hour(s)"
Since we've got a LOT of interest in contributing to the Community Committee, I figured we could start doing office hours for getting started with or building up contributions to the Community Committee.

Some feedback I'd like to get from y'all who are already participating or looking to participate:

- As a new contributor to CommComm, what resources would help you start contributing more?
- As

[2017-10-25 20:35] Tiriel commented on #155
Quick note: both links for local timings are set to 8pm UTC whereas the note says 4pm UTC

[2017-10-25 20:42] mhdawson commented on #157
Sounds reasonable.  My suggestion for getting people started is to define a concrete set of "initiatives", "goals" and "tasks" that people can grab.

[2017-10-25 20:42] mhdawson commented on #156
+1

[2017-10-25 21:04] Tiriel commented on #157
I'll second that. Most helpful things would be to know what to do, technically speaking. What specific can be helpful.

The "Good first issue" label is extremely helpful for that, and more of that sort of help should be promoted.

[2017-10-26 03:09] hackygolucky opened #158 "Should we work on making CommComm repos Code + Learn friendly?"
There's been talk over the last year about opening up the Code + Learn program to repos other than Node.js core. The real limitation is people resources–mentors from a repo able to provide clear onboarding/contributing/collaborating guidelines , good-first-pr issues, and availability for reviewing PRs.

Code + Learn helps gain contributors long-term. It would be great to invest in this for our wor

[2017-10-26 09:58] Tiriel commented on #156
Although I'm not a member, just wanted to let you know you definitely have my +1

[2017-10-26 16:05] rachelnicole commented on #155
If you did not receive the meeting invite please DM me @ohhoe or Tierney @bitandbang on twitter and we can send it to you

[2017-10-26 16:17] dshaw commented on #155
Note that the calendar meeting is pointing to a [Hangout](https://hangouts.google.com/hangouts/_/nodejs.org/commcomm) that isn't actually being used. I think the calendar is managed under Admin. I'd be happy to look into how to fix.

[2017-10-26 16:30] refack commented on #114
Happy to help as well

[2017-10-26 16:30] rachelnicole commented on #114
We're discussing it in today's meeting https://github.com/nodejs/community-committee/issues/155

Myself, @obensource @ammiller-gh are going to take actionable steps (tbd) to help move this forward by Nov 9th.

[2017-10-26 16:31] refack commented on #114
/cc @amiller-gh

[2017-10-26 16:31] dshaw commented on #155
I mentioned the Kubernetes charter and how healthy I found their assertion that they would not get it right. Here's the document: https://github.com/kubernetes/steering/blob/master/charter.md

/cc @bnb @rachelnicole @gr2m

[2017-10-26 16:32] msmichellegar commented on #155
Hey apologies, have been long haul flying and won't be there for today's meeting.

[2017-10-26 16:33] refack commented on #114
@bablic might be willing to help as well

[2017-10-26 16:53] gautamarora commented on #42
@bnb i can offer to help with this. From what I understand the goal here is to create a one-pager that lists out ideas & resources for someone interested in running a node-focussed event in their community.

Rough outline could be something like....

[code]

[2017-10-26 17:02] dshaw commented on #156
🙌  Interested in joining the CommComm Core Values session.

[2017-10-26 17:12] obensource commented on #155
Thanks @bnb @rachelnicole @hackygolucky @dshaw @mhdawson and others for being so awesome and inviting!🍻

As an observer, I 100% feel like y'all gave us a great indication of how and where to jump in! 🙌

[2017-10-26 17:59] Tiriel commented on #114
Couldn't follow all the meeting, not much service in the subway, but I managed to get @rachelnicole 's part on the subject! Great to see things moving, and again : count me in!

[2017-10-26 19:16] mhdawson commented on #155
PR for minutes https://github.com/nodejs/community-committee/pull/159

[2017-10-26 19:38] dshaw commented on #158
@hackygolucky This seems like a great idea.

From what I've observed, the #1 need in the CommComm right now is active collaborators. Given that need, I would propose that primary focus should be on recruiting active members.

[2017-10-26 20:45] dshaw commented on #96
@hackygolucky I met with @williamkapke and @mikehostetler. In terms of availability and interest, it looks like it will fall on me to lead this initial bootstrap phase with their support. I'm game, but am going to seek some very explicit permission first since this is a massive undertaking.

1) Can I even lead this effort since I am only a CommComm Observer?
2) I would like to start by focusing on

[2017-10-26 20:53] dshaw commented on #112
I shared context from the today's breakout discussion in the [original thread](https://github.com/nodejs/community-committee/issues/96#issuecomment-339795490).

I will be scheduling the next major planning session for "Node.js User Liaising" during the week of November 13th. In the interim, I'm will be seeking explicit feedback and sign-off on the [3 key points](https://github.com/nodejs/community

[2017-10-26 20:57] dshaw commented on #96
## Notes from 2017-10-26 breakout meeting on #96

We discussed bootstrapping a new group in the Node.js CommComm focused on User Feedback and Outreach.

@dshaw is spearheading the effort with active contributions to the scoping efforts from @williamkapke, Individual Member Director of the Node.js Foundation, and @mikehostetler, Chicago Node.js/JS Community Leader.

We have identified key areas of

[2017-10-27 02:41] sotayamashita commented on #114
@rachelnicole Oops. I missed the meeting.  Could you invite me as a observer if we will discussing about it again. :bow:

[2017-10-27 17:42] rachelnicole commented on #52
@bnb can you make a PR for this / is this done?

[2017-10-27 17:43] rachelnicole commented on #13
@bnb we need to revisit this / this might be something good to add to the README for whatever things are under our jurisdiction

[2017-10-27 17:48] rachelnicole opened #161 "Revise the README to be more helpful for new users"
As the README stands right now, people that are interested in becoming a part of the community committee don't really have any idea of what we do.

I think that we should revisit a lot of the existing markdown files that outline governance, code of conduct, collaborating, and contributing and make sure they're explained in the main readme file instead of just linking to it.

We should also list wo

[2017-10-31 18:05] hackygolucky commented on #96
[Google Doc from the initial meeting](https://docs.google.com/document/d/1NOQsC-nyYz75IMJVitzTwuCYgLWWLhWaSvWRPveiumU/edit) that @bnb and @mhdawson and I had on this. Glad y'all are hopping on this!

[2017-10-31 19:04] dshaw commented on #96
I wanted to say thank you to @hackygolucky @mhdawson @bnb and @williamkapke for all the support in working through this and getting this effort off the ground. 🙏

[2017-10-31 20:19] dshaw opened #162 "User Feedback Project group formation"
A group has been formed around the User Feedback and Outreach effort with an associated repository: @nodejs/user-feedback and https://github.com/nodejs/user-feedback

Thank you, @hackygolucky for capturing notes from the [informal gathering today](https://docs.google.com/document/d/1NOQsC-nyYz75IMJVitzTwuCYgLWWLhWaSvWRPveiumU/edit#). See notes dated October 31st at the bottom.

@mhdawson has volun

[2017-11-02 19:05] mike-kaufman opened #163 "Documentation Discussion during diagnostics WG meeting"
This issue is a result of a discussion that came up in yesterday's diagnostics WG meeting.  Per https://github.com/nodejs/diagnostics/issues/92, the diagnostics WG would like to get better instructions and how-to guides for common diagnostics tasks.  E.g., how to do performance profiling, heap profiling, etc.

A few things came up in the discussion:

1.  There's an opportunity for "more profession

[2017-11-02 19:09] Qard commented on #163
I don't think it needs a new label, we could just open some issues on http://github.com/nodejs/node with the `doc` and `help wanted` labels.

[2017-11-02 19:50] mike-kaufman commented on #163
Yeah, that may be sufficient.  I probably didn't word things correctly above -  my take-away from yesterday's discussion is
  - it wasn't obvious (at least to me) precisely where we needed the "professional-level" help that a contracted docs person would bring
  - this is broader than the diagnostics context we discussed yesterday
  - Identifying such areas is useful both for a scoping exercise (i

[2017-11-02 20:30] bnb commented on #163
@mike-kaufman So you're looking specifically to improve docs for the Diagnostics WG projects, or Node.js in general? Getting explicit scope would be extremely helpful. ❤️

If you _do_ have specific scope in mind, I think it would be most helpful for someone that is looking to jump in to contributing to have an outline of what you're looking for and an individual they can reach out to (even if this

[2017-11-02 20:35] Qard commented on #163
The initial discussion was sparked by improving diagnostics-specific docs. Not projects though so much as contributing guides for the website to introduce diagnostic-related concepts to users.

We brought the discussion here because there was suggestions that a proper tech writer could help with this, and that would be more relevant at the org level than just specific to diagnostics.

[2017-11-02 20:52] mike-kaufman commented on #163
In particular, the discussion was that improved docs would a) help the node developer community and b) were good opportunities to engage non-coding contributors.  Both of these were considered a good opportunities for the community-committee to drive.   Thus the issue here.

[2017-11-02 21:10] bnb commented on #163
Huge +1 on this, in that case. Since you _do_ have specifics in mind, do you think you (as the Diagnostic WG, not necessarily you as individuals) would be able to help provide an outline of the information that needs to be created?

[2017-11-02 21:13] bnb commented on #13
@rachelnicole Agreed. I know there are several projects that we share collaboratively with the TSC. Admin, Getting Started, Help, Education, and Summit could all be added today in that capacity. I know there are ongoing discussions around Code and Learn and its scope that may need to resolve first.

[2017-11-02 21:14] bnb commented on #158
@hackygolucky What are the steps needed to help enable this? 🤔

[2017-11-02 21:16] bnb commented on #52
@rachelnicole This is not done, I'll open a PR for it 😄

[2017-11-02 21:23] hackygolucky commented on #158
1. Getting a couple of our issues around documenting onboarding and contributing PRed and walking through getting started with a willing participant to see what gaps we still have that make it too difficult.
2. Scheduling some admin time on a weekly basis to make sure that issues are appropriately labeled, including `good-first-contribution`.
3. Watch for the 2018 Code + Learn schedule and start c

[2017-11-02 21:25] bnb commented on #42
@gautamarora Yes! That sounds awesome. Would absolutely LOVE to see a doc based on that outline.

[2017-11-02 21:27] bnb commented on #155
#159 merged, closing this. ❤️

[2017-11-02 21:27] #155 closed

[2017-11-02 21:28] bnb commented on #145
Closing this, since the 10/26 meeting has happened! See y'all at the next meeting ❤️

[2017-11-02 21:28] #145 closed

[2017-11-03 15:51] naugtur commented on #163
Speaking of specifics, the whole thing started with some guides I'm writing in my spare time: https://github.com/naugtur/node-diagnostics-howtos
Now proposed as a contribution to nodejs.org guides
https://github.com/nodejs/nodejs.org/pull/1444

I'm not a native speaker of English and there's likely a lot of people with better writing skills, but I'm hoping my work could provide more than an outlin

[2017-11-04 18:57] pup opened #165 "rejoining the commcomm"
so it's been a couple of months since i left the commcomm because of mental health concerns (#110). things have since calmed down in the project we started, ayo.js, (and also in my life) and as such i'd like to retire from being an emeritus, so to speak! i don't know if there's a process for this, though, and i respect if this doesn't work this way, i'm just making an inquiry!

[2017-11-05 21:49] Trott commented on #117
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-11-05 21:50] Trott commented on #33
It seems like perhaps this should be closed. Feel free to re-open (or leave a comment requesting that it be re-opened) if you disagree. I'm just tidying up and not acting on a super-strong opinion or anything like that.

[2017-11-05 21:50] #33 closed

[2017-11-06 09:11] benjamingr commented on #117
I don't think that this issue has been resolved @Trott - the document about it hasn't been written yet. Anyone from @nodejs/community-committee wanna try and pick it up?

[2017-11-06 09:47] rachelnicole commented on #117
@benjamingr do you have an example of another open source community that has a document along the lines of what it is you're looking for? We had a lot of discussion earlier on in the thread, but I don't quite understand the need for additional justification to why we need a CoC / why we do inclusivity work.

Would the work we're going to be doing in https://github.com/nodejs/community-committee/is

[2017-11-06 12:30] benjamingr commented on #117
@rachelnicole I'm not familiar with other projects dealing with these issues like Node.js does, but I'm definitely still in favor of having a document explaining:

 - Why a Code of Conduct is used, what it fixes and why it's something Node.js does.
 - Why giving people from disadvantaged groups equal opportunity is something Node.js tries to do, why it makes sense from both a project and personal

[2017-11-06 14:53] dshaw commented on #162
@bnb Can you add this to the CommComm meeting agenda and introduce folks to https://github.com/nodejs/user-feedback and explicitly invite new participants around the initial activity areas? (Reminder: I will not be attending since I will be on flight home from NodeConf.EU.)

[2017-11-06 15:38] bnb commented on #165
I don’t believe we have a defined process. @hackygolucky do you know if @pup will need to go through the full membership process again, or if they can effectively rejoin because they are an emeritus?

[2017-11-06 15:43] ahmadnassri commented on #162
note: the note doc linked is set to "anyone can edit"

[2017-11-06 15:46] dshaw commented on #162
Thanks for the heads-up, @ahmadnassri. CC @hackygolucky

[2017-11-08 17:47] bnb commented on #112
Removing cc-agenda label since this work is progressing in other areas and the original reason for adding has been hashed out 👍

[2017-11-08 18:05] bnb commented on #134
Going to remove `cc-agenda` label for now - we've discussed, and it's a known task. If anyone has time/cycles to work on this, we'd be happy to help with questions/comments if you need feedback or guidance. ❤️

[2017-11-08 18:06] bnb commented on #153
We should kick this over to the @nodejs/user-feedback team to make sure they can track it appropriately and help y'all get set up 👍

[2017-11-08 18:06] bnb commented on #153
Going to remove the cc-agenda label and add the user-feedback-init label.

[2017-11-08 18:08] bnb commented on #156
Going to leave this on the agenda for tomorrow's meeting with a TODO of getting a meeting time/plan of action for this nailed down.

[2017-11-08 18:11] bnb commented on #157
Going to remove cc-agenda label for now - when we get this rolling (targeting next week), we can see if there are any further action items that need to be raised to the Committee 👍

[2017-11-08 19:00] bnb opened #166 "Broader Community Committee Team in the Node.js Org"
I've been consistently pinging @nodejs/community-committee in several issues, as do others, where attention and feedback is needed. Once that that I'd not previously considered is that it would be helpful if Observers working toward membership had the opportunity to be included in these pings to help add context, review, and contribute.

I just saw how the Automation team is set up, with several s

[2017-11-08 19:02] Tiriel commented on #134
I'd actually like giving it a try, but I'll definitely need guidance, advices, and inspiration! I just don't want to overstep on anyone...

[2017-11-08 19:16] dshaw commented on #112
@bnb Remember the reason we had it on the agenda this time was to tune folks into the fact that this is happening and invite participation in the initial areas of focus. I would appreciate the mention. Doesn't need to be much.

[2017-11-08 19:24] bnb commented on #114
Would pulling in the nodejs/internationalization repo, or creating a new one and archiving the old one, be helpful in pushing internationalization?

[2017-11-08 19:27] amiller-gh commented on #134
@bnb, just got back from a war room in NYC with I'm finally getting free cycles (what is sleep again?). I have the site up and running with a new page added for CommComm – just need content now. How would you like to move forward with drafting it, should I just take a stab at it and put it in PR?

[2017-11-08 19:30] amiller-gh commented on #114
@rachelnicole, sorry for the radio silence! Just got back from a NYC war room and can finally move forward with non-LinkedIn things again. Any updates on collecting language use stats?

[2017-11-08 19:31] bnb opened #168 "Node.js Foundation Community Committee - Meeting 2017-11-09"
Node.js Foundation Community Committee (CommComm) Meeting 2017-11-09
--------------------------------------

## Time

**UTC Thu 09-Nov-2017 16:00 (04:00 PM)**
<details>

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 09-Nov-2017 08:00 (08:00 AM) |
| US / Mountain | Thu 09-Nov-2017 09:00 (09:00 AM) |
| US / Central  | Thu 09-Nov-2017 10:00

[2017-11-08 19:32] hackygolucky commented on #165
oooh this is such a good question. We don't have language for this, so I think we should create it. It would be good to reward those who reached emeritus status and have the bandwidth/would like to return. My short proposal would be a request to be reinstated(as @pup did here) and active members voting on it. Is that even necessary? I'd love others' opinions. We have a process for trimming inactiv

[2017-11-08 19:57] hackygolucky opened #169 "Lazy consensus with policies vs. people"
In thinking about how we make decisions in the project, I realized that much of our discomfort with conflict in public spaces tends to be when we are discussing/voting on people vs. policies or content decisions. Even with a lazy consensus model, we rely on someone publicly objecting. That can be really tough to do if we're, say, voting on whether a person should be accepted as a member/collaborat

[2017-11-08 20:00] gr2m commented on #168
I’m sorry I can’t make it, I’ll be on my way to http://offlinefirst.org/camp/

[2017-11-08 20:13] Tiriel commented on #168
I'd actually like to come as an observer, but I may not be able to talk (still at work at this hour). Would that be a problem, or should I attend on the public url?

[2017-11-08 20:14] obensource commented on #114
@amiller-gh @rachelnicole language use stats would be a great place to gauge language target priority, +1.

At this juncture it looks like we've established that GitLocalize is probably a good place to start with the translation process, but we need to triage our translation endeavors:
- Site
- Repo
- Docs

And then decide on actionable steps based on priority we've gathered from language use stat

[2017-11-08 20:17] obensource commented on #114
@bnb I'd vote to pull it in, looks like a great place to start.

[2017-11-08 20:31] refack commented on #166
Could do sleve inversion - **<span>@</span>nodejs/community-committee** could be everyone, and  **@nodejs/community-committee-members** be just voting members

[2017-11-08 20:40] Tiriel commented on #114
@obensource If yo'ure referring at the language use stats for the nodejs.org website, they wouldn't be relevant, since there isn't any language selection system atm.

On the other hand, if you're referring to general language use stats over the world/internet, I'm with you!

[2017-11-08 20:48] obensource commented on #114
@Tiriel I'm referring to the general use stats yeah ;)

eg. figuring out how we can understand what the current global language use stats are and creating a continuous process around that so we can go from there, maintaining accurate viz. 🎉

If someone has already thought about this, or that work already exists, please chime in! 🙌

[2017-11-08 20:59] Tiriel commented on #114
I'd say that's a good starting point yeah. But the size and activity of the community, at least here, should also be a factor I guess. Although, i18n communities aren't pretty active anyway for now...

[2017-11-08 21:25] bnb commented on #169
+1 to this. I'd actually go a step further and say that a member can request _any_ vote to be a blind vote - much like we did with the CommComm Chair election.

With this, if someone doesn't want to request the vote be blind _publicly_ I believe they should be able to request it _privately_ the CommComm Chair(s).

[2017-11-08 21:26] bnb commented on #168
@Tiriel You can join as an observer, even if you can't talk - I will add you to the list 👍

[2017-11-08 21:42] Tiriel commented on #168
@bnb Awesome! Thanks!

[2017-11-08 22:00] hackygolucky opened #170 "Individual Membership as a responsibility of the Community Committee"
Individual Membership to the Node.js Foundation was established back in 2015 as a way to represent the voice of the community on the Node.js via Board seats.

Individual membership costs $100 a year, or $25 for students. Contributors to the Node.js project, including all Working Groups and sub-projects, are eligible for free membership. The current benefit to being an Individual Member includes 20

[2017-11-08 22:51] hackygolucky commented on #166
so, I think this is something we'd need to bring up in nodejs/admin, @bnb

Historically, we have added people to the GitHub org when they've hit some measurement of contribution within a repo(s). What we're talking about here is potentially adding folks who would be given GitHub org status by simply asking to be an observer of CommComm? I may be misinterpreting what you said...

[2017-11-08 23:23] bnb commented on #170
I'd like to say that I'm generally +1 to this. I've personally been very critical of how Individual Membership has approached since its creation, but I do think that the Community Committee could likely help enable both the project - Individual Membership - and the _members_ themselves.

Taking on Individual Membership will need a non-trivial amount of effort, so I'd like to suggest that we have s

[2017-11-08 23:43] bnb commented on #166
@hackygolucky You're understanding what I said perfectly. That's the historical precedent, and I'm not sure if changing/dramatically simplifying that will be an issue.

[2017-11-09 05:46] dshaw commented on #170
I think this is a great idea. I see having Individual Membership representation working through the CommComm as the most effective to grow, support and engage Individual Members.

[2017-11-09 08:58] pup commented on #165
@hackygolucky the only scenario where i don't think a simple reinstatement of an emeritus wouldn't be appropriate would be if the emeritus was removed from the commcomm because of code of conduct (or other) offenses. but in that situation, i'm not sure whether they would be made an emeritus at all?

[2017-11-09 08:58] pup commented on #165
whoops - accidentally closed

[2017-11-09 09:42] rachelnicole commented on #165
I'm totally 100% fine with @pup coming back as a full member!

Though I do think we need to put in some kind of time period in the future like maybe just 1 month where there is a temporary pause on voting capabilities. I understand the need to step away from things when you're stressed / life is more important and think it's ok for people to do so, but we should prob set something up so that it do

[2017-11-09 12:45] Tiriel commented on #169
That sounds a great idea to me!

[2017-11-09 14:05] msmichellegar commented on #168
Sadly I can't make this meeting time (4pm London), I have a work meeting 😢

Will read the notes, and might be able to join at the end.

[2017-11-09 14:44] komawar commented on #168
Hi, I'd like to join this meeting. How do we do this?

[2017-11-09 16:02] obensource commented on #168
Has the zoom link already been sent? Haven't received it yet.

[2017-11-09 16:08] mikehostetler commented on #168
Looks like the times are off, due to DST ending.

I'm in US Central time, which is listed at starting at 10am.  However, the Node.js Calendar (http://nodejs.org/calendar) says it starts at 11am CT.

[2017-11-09 16:24] bnb commented on #168
Meeting link, starting in ~30 minutes: https://zoom.us/j/928979517

[2017-11-09 16:38] ZibbyKeaton commented on #138
Following up on this thread to see if you have answers to these questions @msmichellegar or @rachelnicole :) Feel free to not answer all the questions if you don't have the time! Know schedules are hectic.

[2017-11-09 16:49] bnb commented on #168
Updated Zoom link, since we're trying something new with the streaming: https://zoom.us/j/415109804

[2017-11-09 17:11] Tiriel commented on #168
Sorry, service too bad, I'm switching to YouTube :(

[2017-11-09 17:20] JemBijoux commented on #156
Hi there! I'd be stoked to help out or participate too. This is great.

[2017-11-09 17:29] komawar commented on #156
would like to add my two cents (&be helpful)

[2017-11-09 17:30] sarahnovotny commented on #156
Are the CommComm's values substantially different from the core project values?  It might make more sense to push the core project value conversation to conclusion and then identify where commcomm is different instead of doing independent value exercises.

[2017-11-09 17:50] JemBijoux commented on #134
Heyo, heard that there might be the need for some help with this. I'm just an observer for now, but willing to PR / assist with whatever.

[2017-11-09 17:59] refack commented on #170
I have bandwidth for helping with admin stuff.

[2017-11-09 18:01] chowdhurian commented on #170
CommComm taking this on would be great. Maybe contingent on getting enough members and observers on board to eventually drive this. I can put time into the tasks.

[2017-11-09 18:02] refack commented on #169
+1

[2017-11-09 18:12] komawar commented on #170
From a third person standpoint, (w/o much context on the history), I think this looks like a good idea. The [blog](https://nodejs.org/en/blog/community/individual-membership/) that identifies who a Node.js Individual Member is under the community tag, there more information out there but looks mostly in github. (Of course, my google search might not be exhaustive). As a potential new Individual Me

[2017-11-09 18:14] JemBijoux commented on #170
I'm definitely a plus one for this. It seems like there's a lot of potential here.

Sounded like there's a wishlist of things that could be done better, it might be nice to enumerate some of those items here. Mentioned briefly during CommComm session:

- quarterly newsletter,
- getting more regular feedback from individual membership (is this related or overlap at all with the User Feedback Initia

[2017-11-09 18:23] bnb commented on #165
Next steps that we landed on taking (in the private session of today's meeting):

- Sending out a blind ballot to current voting members, to vote on @pup's membership.
- PRing documentation for reinstatement of emeritus members who have requested to rejoin.

Further, @hackygolucky has started a discussion around lazy consensus and blind ballots when it comes to votes that need to be taken around _

[2017-11-09 18:23] komawar commented on #169
@hackygolucky having used [civs](http://civs.cs.cornell.edu/faq.html) before, I can't stop appreciating how well it works. +1 (*1000) to this

[2017-11-09 19:19] mikehostetler commented on #156
Agree with @sarahnovotny here. Values are an incredibly important and core part of any organization and it seems that CommComm would inherit the values from the TSC or the Board (please excuse my naiveté here).

Additionally, it strikes me as an anti-pattern that the CommComm would potentially have different values than others in the Node Foundation.  If the CommComm finds that one of their values

[2017-11-10 18:10] bnb commented on #166
Going to close this, given the state of what we discussed in our meeting yesterday 👍

[2017-11-10 18:10] #166 closed

[2017-11-10 18:21] bnb commented on #170
@ParidelPooya Currently we have ~200 individual members. That number did go up recently with membership being bundled in some way with Node.js Interactive tickets. That's almost the full extent of my knowledge, I know @hackygolucky can definitely help provide any additional scope.

[2017-11-10 19:08] bnb commented on #170
I'd like to start keeping a list of those that have expressed interest in helping champion/maintain Individual Membership - and have bandwidth to so so:

- @refack
- @chowdhurian
- @komawar
- @JemBijoux

[2017-11-10 19:24] ParidelPooya commented on #170
I have bandwidth to help too. please add me to that list @ParidelPooya

[2017-11-11 00:37] amiller-gh commented on #114
Hey all! (@rachelnicole, @Tiriel, @bnb specifically), spoke with the NPM folks and they were gracious enough to give us their language usage stats!

Yes, they don't have a language selection option, but they **do** collect the default browser language settings for all npmjs.com visitors. This gives us a nice snapshot of the Node community's language preferences.

I cleaned up the [raw data](https:

[2017-11-11 10:39] Tiriel commented on #114
Hey! Thanks @amiller-gh , awesome work!

It does seem like a good approach, if we don't discourage other language communities from contributing the effort (which I know no one will).
On the other hand, Like I said, this may need some advertising, because for now the language communities are pretty near inactive for the most part.

I've been on traducting the nodejs.org website in French for some w

[2017-11-11 11:53] amiller-gh commented on #134
@bnb, @rachelnicole Prelim PR is up! Feel free to start wordsmithing, I left a few comments to kick off the process: https://github.com/nodejs/nodejs.org/pull/1465#pullrequestreview-75930192

Largely mimicked the TSC's page – figured we can save work on a fancier layout for when the site gets a bigger IA redesign.

[2017-11-11 17:19] rachelnicole commented on #134
thanks @amiller-gh ! Checking it out now. :D

[2017-11-11 17:53] rachelnicole commented on #114
Can someone also help grab a list of the existing Node internationalization efforts that have repositories somewhere?

[2017-11-11 18:29] Tiriel commented on #114
From what I've seen, there are lots of localized repos, but few efforts actually in the source code.

Some of the efforts in the source code actually don't have repos on their own, but they are at least in the nodejs.org repo.

Source code localization:
* english, obviously
* catalan (no repo yet?)
* [german](https://github.com/nodejs/nodejs-de)
* [spanish](https://github.com/nodejs/nodejs-es)
* [

[2017-11-11 18:47] rachelnicole commented on #114
Thanks @Tiriel! wow. That's a lot. haha.

Ok, so I think based off the npm data we should focus on Chinese & Spanish initially. Once we find a way to have the process streamlined it'll be easier to roll out to the other languages.

What are we wanting to focus on first? Documentation / API stuff and the Website? Or is website internationalization a separate issue for the Web Site working group?

[2017-11-11 18:57] Tiriel commented on #114
I agree on focusing on the two main languages. Though as I said, we may have contributions on other languages. I for one intend on continuing my translation work for the website in french (that's the easiest thing I can contribute to).

As I said before, I think we should focus on translating the website. The documentation/API changes too quickly for us to be efficient, at least with minimal teams

[2017-11-11 18:59] rachelnicole commented on #114
@Tiriel I don't want people to do manual translations. @amiller-gh spoke with the translation team at LinkedIn and we can automate a lot of the process, and then have people who are fluent be able to check for correctness.

[2017-11-11 19:02] Tiriel commented on #114
@rachelnicole Oh okay, I was missing this information, sorry. I already got a PR in review on the website, so going to put it on hold.

[2017-11-11 19:21] rachelnicole commented on #114
Also @Tiriel I think that translating documentation is really important. If we focus on LTS release, it could help with having something that's going to be stable for a bit / not changing TOO much.

[2017-11-11 19:40] Tiriel commented on #114
@rachelnicole Indeed if the process can be automated it changes much things. Having the LTS API translated seems like a good idea.

But I think the LTS + WebSite should be the primary targets then, to test our ability on the matter. If it's okay though

[2017-11-11 19:47] rachelnicole commented on #114
@Tiriel I agree! LTS Docs & Web Site.

[2017-11-11 21:37] bnb commented on #170
@ParidelPooya Added 👍

[2017-11-12 08:46] yoannmoinet commented on #114
Hi @rachelnicole,
shimming in to have more info.

That would be awesome to automate a bit of the process, just wondering which parts would that be, and how would that work?
I'm just afraid that, if we're talking about translations, it could give reviewers way more work reviewing automated translations than human made translations.

[2017-11-13 10:21] amiller-gh commented on #114
So, I think I can help clarify a bit about LinkedIn and "automated translations" 😄

After Node Interactive, and hearing a little about our i18n needs, I thought: "Wait, we have a team at LinkedIn that translates our site into 28 different languages!". After sitting in on the CommComm breakout session I figured this would be an amazing non-code contribution that LinkedIn can make to the Node projec

[2017-11-13 12:34] Tiriel commented on #114
This is plain awesomeness! Thanks @amiller-gh !
@rachelnicole How do you see things? Do we keep translating/publishing/looking for people as before, or do we wait for an answer from LinkedIn?

[2017-11-13 19:19] bnb commented on #169
As a TODO for this: if https://github.com/nodejs/nodejs.org/pull/1465 lands prior to a decision on this, we'll need to update the proposed section there about the Consensus Seeking Model and lazy consensus 👍

[2017-11-14 22:42] hackygolucky commented on #169
In the last Community Committee meeting, it was also determined that a temporary hold on voting ability should be placed on returning emeritus members upon reinstatement, so as not to make it a revolving door of single issues being addressed.  The arbitrary time for hold was mentioned as one month. I don't have an objection to this.

[2017-11-15 00:57] dshaw commented on #71
@bnb: Is this issue still valid? Reviewing https://github.com/nodejs/community-committee/blob/master/CONTRIBUTING.md for https://github.com/nodejs/user-feedback, it appears these files have been significantly updated.

[2017-11-15 17:35] bnb commented on #71
@dshaw I brought this up recently somewhere, though I can't find - as far as I can tell we've effectively not used the "Collaborator" role. I'll likely end up bringing this up as an agenda item to discuss, but for now this issue can be closed.

[2017-11-15 18:25] #71 closed

[2017-11-15 18:32] bnb commented on #169
@hackygolucky I also have no objection to that 👍

[2017-11-15 18:42] bnb commented on #156
@sarahnovotny @mikehostetler This discussion stemmed from the discussion around the expectations doc, linked in the original comment (references: https://github.com/nodejs/admin/pull/12#issuecomment-330581822, https://github.com/nodejs/admin/pull/12#pullrequestreview-65012367, https://github.com/nodejs/admin/pull/12#issuecomment-335618421, https://github.com/nodejs/admin/pull/12#issuecomment-33767

[2017-11-16 00:33] mikehostetler commented on #156
@bnb Thanks for the background!

[2017-11-16 06:43] dshaw commented on #169
One of the strongest voices I've heard across the project over the past 6 months has been a desire to foster accountability. Blind voting seems counter to the general norms of this project. Consensus seeking is hard work. We value transparency.

Members of the TSC have shared that one of the big challenges they've face is the unsupported "No". It's essentially a veto with no justification and no f

[2017-11-16 16:05] hackygolucky commented on #169
Being a member is a role for both the TSC and CommComm. It is an elevated role due to the responsibilities and voting attached to said membership. This is especially why if someone is being added or removed, it isn't taken lightly. Historically and up until recently, in our own project(not sure about Apache projects), we have had heightened community conflict attached to having votes re: people.

[2017-11-16 18:14] dshaw commented on #169
With regard to blind votes being "appropriate for adding new members", let's use an example to model the concern I'm expressing: [TSC Nomination: Daniel Bevenius](https://github.com/nodejs/TSC/issues/419). [As of my writing this](https://github.com/nodejs/TSC/issues/419#issuecomment-344988083), lazy consensus is proceeding without objection. To help those who are just reading this post, Daniel is

[2017-11-16 19:24] Tiriel commented on #169
If I may  give my opinion on this...

I have to admit, while I love the idea of Condorcet voting (I actually wish it was used in more political elections), @dshaw makes a very valid point IMHO.

Nay-voting shouldn't go unexplained for admitting people. For removing people, when cases are clearly made and infractions duely recorded, blind voting can happen, there should not have the need for furthe

[2017-11-16 20:10] mhdawson commented on #169
I agree with @dshaw last comment that a private vote may be better in some cases.  Having said that, there are cases (for example a vote on an existing member) where people have to work together after the vote and a blind vote may make that easier.

So I think we should be open to choosing the right option for a particular circumstance with the default preference being:

* public (default choice)

[2017-11-16 21:27] hackygolucky commented on #170
I am happy to help, I just down want to own it wholly anymore :) (and also by it being moved out of the Foundation, I shouldn't be wholly owning it anyway)

[2017-11-16 21:30] hackygolucky commented on #170
Also at this month's count @bnb @ParidelPooya we are at 241 for membership. The demographic makeup is about half collaborators who have signed up for free because they get the contributor discount, and the rest were mostly signups through our conference registration add-on.

[2017-11-16 22:01] mhdawson commented on #156
There has not been work on specific TSC values yet.

My understanding of the concept of having values for a particular group was that they would be more specific to the focus of that group  (ie additive versus being in conflict) versus the more general values that apply across all of the groups. For example in groups that focus on code a value might be "test-driven development" which would not be

[2017-11-16 22:06] mhdawson commented on #153
@bnb when we discussed it in the benchmarking WG meeting we thought textarea would lead to the most interesting answers.

[2017-11-16 23:05] williamkapke commented on #169
I recently had to advocate for making the CommComm Chair vote private. It was a tough chicken and egg spot. People wanted a reason- but sacrificing confidentiality/privacy was needed to do so.
The alternative was to abstain- which I think the system fails at that point.

Thank you @hackygolucky and everyone for considering this as a policy. I am definitely in favor of having private voting for "pe

[2017-11-17 00:17] dshaw commented on #153
Noted for the next @nodejs/user-feedback meeting. Please update label to [neuf-agenda](https://github.com/nodejs/user-feedback/labels/neuf-agenda).

[2017-11-17 01:46] dshaw commented on #169
+1 for having the Chair handle the responsibility of confidentiality.

[2017-11-17 03:04] dshaw opened #172 "Mentorship Team under the CommComm"
During this week's [TSC meeting](https://github.com/nodejs/TSC/issues/418), it was mentioned that @nodejs/tsc has not found a champion for the Mentorship core initiative. I offered to take on the Mentorship initiative and bootstrap it in the CommComm. https://youtu.be/eSgqJg7pu_M?t=47m0s

@MylesBorins notes that it will be vital to have TSC input and participation. I think that means Myles is volu

[2017-11-17 03:06] dshaw commented on #172
@hollomancer of Operation Code mentioned he is interested. Moreover, he shared these resources which they use to support mentorship at Operation Code:
* [Operation Code - Intro to Mentorship](https://community.operationcode.org/t/intro-to-mentoring/246)
* [Operation Code - Mentorship Guidebook](https://community.operationcode.org/t/mentorship-guidebook/247)

[2017-11-17 15:12] hackygolucky commented on #165
Just as an update, we're still waiting on two members of @nodejs/community-committee to cast their vote before closing this. Please reach out to me if you'd like to abstain.

[2017-11-17 16:56] Trott commented on #169
Some quick thoughts. Apologies in advance if I'm repeating stuff that's already been said elsewhere or if I'm veering off topic a bit.

* We've had blind vote/secret ballot before and it did not end up going so well. I'm not saying they can't be deployed effectively. I'm just saying caution needs to be used. Specifically, when the TSC voted on removing a member due to a conduct complaint (doesn't

[2017-11-18 16:37] NovaXam opened #174 "Would like to join Nodejs community. Need mentoring."
From what can I start, which option do I have.

[2017-11-19 21:27] devsnek commented on #170
Probably the wrong place to ask, but how can I "redeem" this, I'm very interested in membership.

[2017-11-19 21:30] Bamieh commented on #170
@devsnek
nodejs.org/en/foundation/members/#becoming-an-individual-member

[2017-11-19 23:21] Bamieh commented on #172
@dshaw I am interested to help in the mentorship program

[2017-11-19 23:37] Bamieh opened #175 "Joining the NodeJS team on github"
Hello,

Under the foundation/members section on the website, There is a "Becoming an Individual Member" section which states the benefits of being a NodeJS member, however becoming part of the NodeJS team on GitHub is not one of those benefits.

I asked on the IRC chat about this issue and I was informed that:

However, I feel that this could be used as an incentive / motivation to contribute and

[2017-11-20 14:12] mhdawson commented on #174
Are you looking for specific tasks or general guidance on how to get started.  If its general guidance we can schedule a time to talk.

[2017-11-20 19:02] bnb opened #176 "Delay CommComm Meeting from Thursday, November 23 to a later date"
Given our normal CommComm meeting schedule, the meeting this week would happen to land on Thanksgiving Day in the U.S.

Given that we have many members in the US, we probably won't be able to have an effective meeting during this time.

I'd like to suggest we delay the meeting one week (instead of two) from the normal meeting - so we would next meet on November 30th, 2017 - to get us together agai

[2017-11-20 19:59] Tiriel commented on #176
Hey there!

I know I'm just an observer, but just a quick note. I don't know if there are many people in my timezone, but the usual time makes the meeting happen during most people's commute here, including mine. I can take dispositions some times, and I'll try as often as I can, but I have to admit if the meeting time was one hour earlier or later, it'd be awesome.

If it's not possible, I totall

[2017-11-21 17:27] williamkapke commented on #175
Hi @Bamieh. Yes, the idea of adding the badge to those that sign up has been discussed- but it is hard to keep track of and organize. I'd be all for it if we had a way to make it logistically feasible.

Currently, you need to contribute to the Node Project on GitHub and get recognized for it. There are many ways to do so- but all of them take many months of dedication. It all comes down to what @r

[2017-11-21 18:07] Bamieh commented on #175
@williamkapke a scheduling tool connected to github to automatically add people upon subscription and remove them upon expiration would be more than enough for the logistics part. implementing such tool on a lambda function or such would be super simple, am willing to write a mockup as well if a homemade simple solution is required.

Since these individuals are a form of fund for the foundation, m

[2017-11-21 18:33] mhdawson commented on #176
+1 to delaying so that we get good attendance.

[2017-11-21 18:52] williamkapke commented on #175
A [bot to manage the members of the org](https://github.com/nodejs/community-committee/issues/22) has been discussed for years with some objects... and it's a slow evolving concept. While, my current proposal doesn't work in paid foundation members, it has always been on the potential feature list.

[2017-11-21 19:59] Bamieh commented on #175
After reading the discussion you opened about the bot. This tool would be given access only to one team in the organization which is the `individual-foundation-members` honorary team.

[2017-11-22 06:00] dshaw commented on #176
+1 for Nov 30th

[2017-11-23 15:28] msmichellegar commented on #176
👍  for Nov 30th, this also means I can attend! (Since daylight savings, CommComm always falls during one of my recurring meetings at work 😢 ).

[2017-11-23 16:03] mhdawson commented on #176
Going to assume the meeting is rescheduled.

[2017-11-23 16:42] komawar commented on #176
I assume too

[2017-11-26 21:07] pup commented on #165
@hackygolucky is there any progress on this?

[2017-11-27 20:36] bnb commented on #153
Only concern would be that certain questions (for example, `What kind of language dialect do you use? (ES5 / ES6 / ESNext whatever supported by most recent Node version / TypeScript / Other)`) may be too verbose to get an accurate answer without drop-off of people who are attempting to answer the survey.

Additionally, having pre-defined answers and an "Other" option for a question like that helps

[2017-11-27 20:49] bnb commented on #174
Hey there, @NovaXam!

Wanted to follow up on what @mhdawson asked and see if there's any specific areas you'd like to work on, or if you're looking for general guidance. If you're looking for general guidance, I definitely suggest taking @mhdawson up on his offer, but you can also check out the https://github.com/nodejs/help repo if you have any specific questions!

[2017-11-27 20:58] hackygolucky commented on #172
@dshaw @hollomancer @bamieh Can you attend the next CommComm meeting? One of the things we've been talking about with all of the moving parts in CommComm right now is finding a way to identify and track initiatives that need to happen, but that we also don't want to be starting up projects if we don't have a sufficient number of people able do the work(the hours needed not just in meeting to organ

[2017-11-27 21:34] hackygolucky commented on #153
Should we move this issue over to the @nodejs/user-feedback so it can be tracked there?

[2017-11-27 22:28] hackygolucky commented on #165
I'm sorry about the delay @pup. We were waiting for the final vote to come in, but we have provided more than enough time to vote.

With no objections and 3 abstentions, CommComm has voted  to immediately reinstate Emeritus CommComm member Olivia(@pup) as of today's closing of the poll. http://civs.cs.cornell.edu/cgi-bin/results.pl?num_winners=1&id=E_fc84eea1909c4ab3&algorithm=runoff

[2017-11-27 22:43] pup commented on #165
woo! i'll open a pull request. in the meantime, can someone invite me to the organization and add me to the relevant team(s)?

[2017-11-27 22:56] dshaw commented on #153
@hackygolucky I'm happy for this issue to stay here for now.

We are having our first official meeting using Node.js project infrastructure and practices this Friday, 12/1. Having an issue like this outside of the group's work space gives us an opportunity to practice agenda building. We'll create a tracking issue when we establish a project owner. 🙏

[2017-11-28 09:42] Bamieh commented on #172
@hackygolucky Sure I'd love to join, when is the next meeting going to be?

[2017-11-28 15:10] mhdawson commented on #153
@bnb we did not chose specific answers + other as we were not sure what would be a good specific answers.  We were more interested to see what people would suggest, even if it was all over the map.

[2017-11-28 15:22] mhdawson commented on #165
You should be getting the invites.

[2017-11-28 16:48] bnb commented on #172
@Bamieh Thursday at 12pm ET - I will be posting the meeting proposal tomorrow or Thursday 👍

[2017-11-28 17:47] bnb commented on #169
I am going to add this to the CommComm agenda for this week's meeting.

[2017-11-28 17:47] bnb commented on #165
Removing agenda label since this has passed.

[2017-11-28 20:43] bnb commented on #165
Merged: https://github.com/nodejs/community-committee/pull/178

[2017-11-28 20:44] #165 closed

[2017-11-28 20:51] bnb commented on #157
Unfortunately I've been traveling for work over the last four weeks, and will be heading into December as well. I'd still very much like to do this, but just haven't had cycles to get it set up.

[2017-11-29 13:57] pup commented on #168
closing this since it's way in the past

[2017-11-29 13:57] #168 closed

[2017-11-29 21:15] komawar commented on #176
checking in, November 30th? am not able to locate the issue. ty

[2017-11-30 09:37] Tiriel commented on #176
@komawar I think @bnb was literally flying high (:small_airplane: back home) few hours ago. No doubt we'll have the issue soon, right when he'll have the time to land :smile:

[2017-11-30 14:20] bnb commented on #134
Wanted to give an update:

Looks like https://github.com/nodejs/nodejs.org/pull/1465 was merged! 💥

From here, I'd like to ask if there are any additional steps we'd like to take, or if what's up is sufficient.

Thoughts?

[2017-11-30 14:26] bnb commented on #13
I'm going to remove the cc-agenda label - it looks like we've got some forward moving progress in https://github.com/nodejs/community-committee/pull/167, and are generally aware of what needs to be done.

Additionally, I think we can close this issue out - older issue that's served its original purpose. If we want to discuss the topic more, creating a new issue with more up to date context is prob

[2017-11-30 14:26] #13 closed

[2017-11-30 14:44] bnb opened #179 "Node.js Foundation Community Committee (CommComm) Meeting 2017-11-30"
## Time

**UTC Thu 30-Nov-2017 16:00 (05:00 PM)**
<details>

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 30-Nov-2017 09:00 (09:00 AM) |
| US / Mountain | Thu 30-Nov-2017 010:00 (010:00 AM) |
| US / Central  | Thu 30-Nov-2017 11:00 (11:00 AM) |
| US / Eastern  | Thu 30-Nov-2017 12:00 (12:00 PM) |
| Amsterdam     | Thu 30-Nov-2017 18:00 (

[2017-11-30 14:47] Tiriel commented on #179
If that's okay, I'd like to participate today, as I aranged to be available (woohoo)

[2017-11-30 14:49] bnb commented on #179
@Tiriel Absolutely 👍

[2017-11-30 14:51] dshaw commented on #179
@bnb For @nodejs/user-feedback, what's the best way to get that group as a recurring check-in for a new initiative aspiring to be a top level project under the CommComm?

[2017-11-30 14:55] dshaw commented on #179
I flagged https://github.com/nodejs/user-feedback/issues/6 as cc-agenda to anchor the discussion point.

[2017-11-30 15:45] gr2m commented on #179
I’m traveling today but I’ll try to make it, I'll probably be late

[2017-11-30 16:01] pup commented on #179
what is going on with the times? is the meeting at 5pm or 6pm in cst?

[2017-11-30 16:13] Bamieh commented on #179
im not on the invited list?

[2017-11-30 16:14] benjamingr opened #180 "Open Source Friday"
Hey, I just found out about https://opensourcefriday.com/

I don't see existing discussion - it looks like it could be an interesting way to access non-traditional collaborators.

Opinions?

[2017-11-30 16:22] Bamieh commented on #179
I'd like to participate today for the mentorship discussion

[2017-11-30 16:30] bnb commented on #179
@pup apologies, I had to manually edit those and missed that 😬

[2017-11-30 16:30] bnb commented on #179
@pup should be fixed now, thanks for catching that 🙏

[2017-11-30 16:54] obensource commented on #179
See y'all soon! 🎉🎉🎉

[2017-11-30 16:55] bnb commented on #179
Meeting link for Observers: https://zoom.us/j/452584862

[2017-11-30 17:04] Tiriel commented on #179
Trying to connect, I'm on my way

[2017-11-30 17:11] toby-farley commented on #176
Is the meeting occurring at this time?

[2017-11-30 17:27] komawar commented on #172
Hi, I am at the CommComm meeting and due to time constraints as suggested by @bnb , I'm preferring to comment here.

I'm new to the NodeJS processes however, have good experience working at the Outreachy Initiative and mentoring folks at other open source foundation. So, I think I can help out well with the Mentorship initiative, setting and maintaining processes, guides etc. Please consider me fo

[2017-11-30 17:31] tobyfarley commented on #144
I am not longer on the list of invited observers. Can I be added back in @tobyfarley

[2017-11-30 17:33] ParidelPooya commented on #179
I disconnect and connected again but now I can only hear voices.
________________________________
From: Benjamin Zaslavsky <notifications@github.com>
Sent: November 30, 2017 9:04 AM
To: nodejs/community-committee
Cc: Pooya Paridel; Mention
Subject: Re: [nodejs/community-committee] Node.js Foundation Community Committee (CommComm) Meeting 2017-11-30 (#179)

Trying to connect, I'm on my way

—
You a

[2017-11-30 17:42] hackygolucky commented on #169
I will PR this(next step determined in the CommComm meeting)!

[2017-11-30 17:55] tobyfarley commented on #179
I seem to have been removed from the observer list, Can I be added back in as an observer? @tobyfarley

[2017-11-30 18:01] Tiriel commented on #172
Just to add some water to what @refack said in today's CommComm meeting, I largely +1 that we should see if @Trott wants to help too or at least give some advice. He's really doing a great work mentoring pretty much anyone who comes needing help getting on board, including via NodeTodo.

[2017-11-30 18:15] bnb commented on #176
Closing this as we've had the next meeting 🙏

[2017-11-30 18:15] #176 closed

[2017-11-30 18:28] bnb commented on #180
@benjamingr Sounds good to me! Would absolutely love to help enable this - couldn't find anything specifically that we can enable or add to help with this. Is there something specifically?

[2017-11-30 18:32] bnb commented on #156
Closing this in favor of the Node.js Values efforts happening right now. We can reopen something similar in the future if we need something additive to those efforts 👍

[2017-11-30 18:32] #156 closed

[2017-11-30 18:36] bnb commented on #134
Asked in today's meeting and no further feedback was provided. Going to close this 👍

[2017-11-30 18:36] #134 closed

[2017-11-30 19:20] Bamieh commented on #172
@bnb In highlight of today's meeting, you offered to help in getting this initiative started. I have some notes written that i'd like to discuss but i have no idea how to contact you 😄

[2017-11-30 21:42] benjamingr commented on #180
The registration page is https://opensourcefriday.com/maintainers

[2017-11-30 23:57] Trott commented on #172
Totally interested in this but I've been taking a wait-and-see-what-it-shapes-up-to-be approach. It's not clear to me who the mentees are supposed to be, for example. (Anyone? New collaborators who have already gone through the onboarding process? Something else?)

[2017-12-01 02:17] MylesBorins commented on #172
I think that I was one of the people to originally suggest a mentorship program. I was originally envisioning that each new collaborator would get a mentor with their commit bit

[2017-12-01 08:08] obensource commented on #114
@amiller-gh any response from LinkedIn yet?

[2017-12-01 08:26] obensource commented on #114
@Tiriel @rachelnicole @amiller-gh as @bnb briefly mentioned before, archiving the existing nodejs/internationalization repo and making an established nodejs/i18n repo would be a good first motion to get us going. I was just going to create it and PR [the appropriate links](https://github.com/nodejs/community-committee#working-groups), but I don't have collaborator privileges yet so someone else wi

[2017-12-03 00:10] mannypamintuan commented on #161
Hello @rachelnicole & @bnb!

I would like to take on this task as a `good first issue` and as someone relatively new to the community, this would be a great exercise in learning more about the community committee and the topics related to governance, code of conduct, collaboration, and contribution.

:) I appreciate the checklist and I would love to get started.

Who would be good points of contac

[2017-12-04 15:34] Tiriel commented on #114
Hi there, going to ask here since we are currently working on organizing things.

There are currently some activity on the nodejs/nodejs.org repo, people submitting PRs for languages such as Catalan or Arabic. I know @rachelnicole wanted to put on hold all PRs for localization, so do we ask it formally to @nodejs/website ? Or do we let « non critical » language users submit PRs? Either way I’m in

[2017-12-04 18:38] bnb commented on #161
@mannypamintuan Thanks for stepping up to take this on!

Good points of contact for this specifically would likely be any member of the Node.js Community Committee. If you have questions, definitely post them here - but also don't hesitate to reach out to _any_ of us. I'm personally happy to help if you have any questions as you go.

I definitely think that your suggestion of reading through the R

[2017-12-04 18:55] bnb commented on #172
@Bamieh sorry for not getting back to you sooner, I was OOO on Thursday/Friday and the meeting was the only Node.js-related thing I did those days 😅

You can reach me via [DM on Twitter ](https://twitter.com/bitandbang) or via email at hello [at] bnb.im

[2017-12-04 18:56] bnb commented on #144
Going to close this, as most/all members from this have been added and are still observers! 💥

[2017-12-04 18:56] #144 closed

[2017-12-04 18:57] bnb commented on #149
@MylesBorins is there any additional context for this issue, or can we close it? 🤔

[2017-12-04 19:02] bnb commented on #12
@ashleygwilliams is there anything actionable on this still? If not, I'd like to close - but totally happy to see what we can do if there's still work to be done.

[2017-12-04 19:03] bnb commented on #82
@hackygolucky is there anything else that we need to do for this, or can we close it?

[2017-12-04 19:10] bnb commented on #22
@williamkapke does this issue need to remain open? The Automation WG repos may be a better place for it at this point. Happy to leave it open if there's further discussion to be had 👍

[2017-12-04 19:12] bnb commented on #31
@williamkapke has this been resolved, or hit a point where we'd benefit from further discussion in a new issue? If so, can we close it? Thanks.

[2017-12-04 19:13] bnb commented on #35
Going to close. Please feel free to open a new issue in the CommComm or Moderation repos if further discussion is needed 👍

[2017-12-04 19:13] #35 closed

[2017-12-04 19:16] bnb commented on #41
@PatrickHeneise @hackygolucky is there anything else we can do to help support efforts around this? If not, I'd like to close this issue - of course, always happy to reopen an issue or open another issue if there's more to be done.

[2017-12-04 19:19] #31 closed

[2017-12-04 19:21] williamkapke commented on #22
This issue is specific to CommComm and is ongoing.

[2017-12-04 19:24] #149 closed

[2017-12-04 19:48] bnb commented on #22
@williamkapke awesome. Are there any explicit next steps or updates to surface?

[2017-12-04 19:55] bnb commented on #52
This landed in https://github.com/nodejs/community-committee/commit/b46cb227a93719134adc82792d0e5e0ab00a9622 😁

[2017-12-04 19:55] #52 closed

[2017-12-04 21:56] refack commented on #172
This was raised as well in the last meeting, so we should probably follow up here.
1. Who are the people seeking mentorship (Devs / Community builders / Core Collaborators)?
2. Who is willing to mentor?
3. What areas (Programing / Org Process / Community)?
4. Should there be well defined programs (like @MylesBorins's initiative to mentor each new collaboration)?

[2017-12-05 09:46] amiller-gh opened #183 "Retrieve translatable word count for current website and LTS docs"
This count includes all plain-text, and all comments inside code blocks. This count should exclude all code examples, titles that are simple method names, and other non-translatable content.

Counts should be reported by page / module, not as a single number.

As is being discussed in https://github.com/nodejs/community-committee/issues/114#issuecomment-343874899, we are evaluating if/how much Lin

[2017-12-05 09:47] amiller-gh commented on #114
Hi all, sorry for the delay! Would highly recommend we continue on business-as-usual until we get full confirmation that we can rely on LinkedIn's contribution.

To push the linkedIn scope-of-work proposal forward, I would love some help getting the data requested in this new issue: https://github.com/nodejs/community-committee/issues/183. I've unfortunately been traveling the past 2.5 weeks and h

[2017-12-05 11:58] sotayamashita commented on #183
@amiller-gh I try to get data with GitLocalize. I will share the stats tomorrow.

[2017-12-05 15:05] PatrickHeneise commented on #41
We'll continue the discussion in @nodejs/community-events. Thanks!

[2017-12-05 15:05] #41 closed

[2017-12-05 17:37] mannypamintuan commented on #161
You are most welcome @bnb!

Thank you for the guidance, I will get started on this issue and any questions I will post here, but will also branch out and contact the CommComm members as needed 😄

[2017-12-05 18:59] zeke commented on #114
Forgive the drive-by comment, but wanted to leave a note here about Electron's i18n efforts. We recently released a new internationalized site [1], and are using Crowdin [2] to power the translation process.  Crowdin is free for open source projects, plays well with markdonw, and integrates nicely with GitHub, creating pull requests on our i18n repo [2] automatically as new content is translated.

[2017-12-05 20:35] DiegoZoracKy opened #184 "Node.js People Everywhere (npe)"
# Node.js People Everywhere (npe)

Initial reasons published at: #186

The goal is to have a place where developers and companies involved with Node.js can register themselves, to show who they are, where they are, and how they are using Node.js. For now I've been calling it as *Node.js People Everywhere (npe)* but it could be any other name we agree on being more interesting.

Because Node.js is

[2017-12-05 20:35] DiegoZoracKy opened #185 "Node.js LinkedIn Group"
# Node.js LinkedIn Group

**Edit:** After discussion with YLD and the Foundation we're going to move for the LinkedIn group to become our second Partner Community! This ticket will be closed by a PR adding the LinkedIn group to the list in [PARTNER_COMMUNITIES.md](https://github.com/nodejs/community-committee/blob/master/PARTNER_COMMUNITIES.md). To move forward we need to:

 - [ ] Iterate on our p

[2017-12-05 20:37] DiegoZoracKy opened #186 "Node.js Strategic Initiatives beyond technical matters"
# Node.js Strategic Initiatives beyond technical matters

## Summary

This issue proposes the creation of a document like TSC's Strategic Initiatives, but not so focused on technical subjects. The suggestion is to have topics more related to the business side of the Node.js community. With strategies to ease and give more confidence on the adoption of Node.js.

It seems to me that Node.js would be

[2017-12-05 20:45] dshaw commented on #185
@DiegoZoracKy Do you think it would be better to engage with the team behind the group and try to open up administration to broader CommComm collaboration? YLD is a Node.js Foundation member. https://www.linkedin.com/groups/2906459/members/admins

[2017-12-05 20:46] mhdawson commented on #186
@DiegoZoracKy thanks for volunteering to help push these suggestions forward.  @nodejs/community-committee I think there are a number of good ideas suggested here.  I wonder if discussing at one of the upcoming community committee meetings would make sense ?

[2017-12-05 20:58] DiegoZoracKy commented on #185
@dshaw the main intention of this idea is to help on the following:

 * Provide an "open" place on LinkedIn where companies and developers can meet
 * Make it a place where people can join easily and fast
 * Having a low barrier to post Jobs (by companies), and to post anything related to Node.js (companies plus developers)

Consequently heating up the talk and connections between Companies and De

[2017-12-05 22:29] dshaw commented on #185
Glad to hear. I agree. Let's see if we can work with the team at YLD to figure out the best solution.

[2017-12-06 00:29] DiegoZoracKy commented on #185
@dshaw Great. Thanks for taking this step.

[2017-12-06 00:46] DiegoZoracKy commented on #186
@mhdawson No problem, and thanks for the support.

[2017-12-06 08:58] Tiriel commented on #172
Is there any way we could have some sort of polling on the interwebs/on the org to gather informations about these questions?
Because from my point of view, we risk having everyone answer according to their own experience, which may not be the "general" use case.
Specifically, I'd love to have a mentor, as a Dev who is real junior in Node.js. But I'm pretty sure you can also find confirmed Node de

[2017-12-06 14:50] msmichellegar commented on #184
I like the idea of listing companies using Node! I think a master list would be really cool and useful for the reasons you describe. I remember seeing this tweet go viral: https://twitter.com/fhinkel/status/915603328607727621

I'm less sure of the value of a public list of Node developers. Definitely agree that some interesting data and statistics could be gathered to guide investments, but is tha

[2017-12-07 00:16] DiegoZoracKy commented on #184
Hi @msmichellegar, good to hear that you also agree that a list of companies would be good. Now, let me explain a bit more the idea of the developers list. I think we focused on different values that we can get from that, and this is a good thing!

My initial thought on this idea was to provide answers for the following questions:

**Is Node.js worth learning?**
Possibly coming from a developer wo

[2017-12-07 05:11] dshaw opened #187 "CommComm Meeting 2017-12-07"
Unfortunately, I won’t be able to attend tomorrow’s meeting. I will be participating in a mentoring session mentoring on community at KubeCon.

@mhdawson Could you share context on @user-feedback from the 2017-12-01 meeting (first official meeting 🎉🎶✨)?

Key points I’d like to convey:
1) NEUF meets every 2 weeks on Friday at 9am PT. The next meeting is 2017-12-15. Please join us if you’re interest

[2017-12-07 10:17] pup commented on #187
did we decide on holding 2 meetings in a row, or do we skip this week and resume a "normal" schedule? how important would you think your key points are @dshaw?

[2017-12-07 15:46] bnb opened #189 "Next CommComm Meeting: 2017-12-14"
Because our last CommComm meeting was only one week ago, we are still working on the things we discussed in that meeting and moving forward with what we discussed there. As such, we should _probably_ move today's meeting to next week and have this be our standard 2 week cadence.

I'm currently working to get the Foundation Calendar updated, as there's a recurring meeting on there for today that we

[2017-12-07 16:47] bnb commented on #186
I've been thinking about exactly this idea - doing something along the lines of the strategic initiatives document that the TSC has - since I first saw that doc. I am definitely a huge +1 to this, but I do think it needs to take a slight step back from what you've proposed.

The CommComm is definitely focused on engaging with and finding representation for all users of Node.js. As such, focusing a

[2017-12-07 17:27] bnb commented on #185
@dshaw how are you proposing we can work with the team at YLD? Want to make sure that we're moving forward and taking action, and having accountability for that action. If you are willing to take this on, that would be appreciate that.

[2017-12-07 17:58] msmichellegar commented on #189
Yes! Selfishly, this works great for me (the other rotation of two weeks clashed with a recurring fortnightly meeting of mine 🙈 ).

[2017-12-07 19:45] bnb commented on #189
@msmichellegar Glad to hear that - we should probably do a doodle sometime in the future to ensure that we're hitting a time that meets a time that works for members.

[2017-12-07 20:55] DiegoZoracKy commented on #186
Hi @bnb, I'm glad good to hear that, and I definitely agree with you here:

For someone that is not a member of the committee, but is part of the community, I believe is more important to have an idea about what is on the track to happen, than who is taking the lead on some of the topics. It will be better and easier for people to raise new ideas, if a doc like that is there to be checked upfront.

[2017-12-07 21:42] bnb commented on #186
@DiegoZoracKy Absolutely. The Node.js community is extremely diverse in terms of applications and communities using the project as a platform. Even bucketing things into community and "business" doesn't begin to approach the variety of communities that Node.js touches. Some of the biggest ones that the project itself has left unaddressed are those business users, users of Node.js for front-end too

[2017-12-07 21:45] #179 closed

[2017-12-07 21:50] bnb commented on #12
Going to close this. Please, feel free to re-open if there's more discussion to be had! 🙏

[2017-12-07 21:51] #12 closed

[2017-12-07 22:02] hackygolucky commented on #82
This exists [in the Admin repo under joint responsibility of the TSC and CommComm](https://github.com/nodejs/admin/blob/master/MEMBER_TRAVEL_FUND.md) for approving requests. Closing because it was approved as a joint effort via the Node.js Board of Directors for funding.

[2017-12-07 22:02] #82 closed

[2017-12-07 22:03] bnb commented on #100
This is definitely something good we can standardize on. If someone would like to suggest how we can approach this (several of the repos under us already have something similar: [nodejs/nodejs-collection#about-this-team](https://github.com/nodejs/nodejs-collection#about-this-team), [nodejs/community-events#community-events](https://github.com/nodejs/community-events#community-events)) and could ea

[2017-12-11 02:39] sotayamashita commented on #183
@bnb Do you know where LTS docs is?

[2017-12-12 08:45] sotayamashita commented on #183
@amiller-gh I have uploaded compressed CSV file on dropbox.

- website: https://www.dropbox.com/s/qcgc9w3kgqbc9dt/website.csv.zip?dl=0
- LTS: doing now

[2017-12-12 08:51] sotayamashita commented on #183
@bnb

I would appreciate you if could tell me know how to build LTS docs. Which version of the current master branch is based on?

Thanks in advance

[2017-12-13 08:30] foadlab commented on #142
Please add me as an observer on the community-committee's meetings.

[2017-12-13 19:08] DiegoZoracKy commented on #186
@bnb Well said. I would like to see the follow-up of the discussion on this matter that as per you say, will be on topic on the next CommComm meeting. How can I follow that? Also, you can ping me if you think I can be helpful in some way.

[2017-12-13 19:17] DiegoZoracKy commented on #184
Hi @msmichellegar, I hope you are doing fine. About the list of companies that you said it could be a good start. Would you like to discuss a bit on how to make it happen? It really can be a good start. A Google Form with some easy and simple questions can be good to manage and to extract data from the answers. I imagine that maybe an easy and first not so formal approach can work in some way, lik

[2017-12-13 19:20] ZibbyKeaton commented on #186
I think this is a really great initiative. I have been trying to figure out a good way to post Node.js jobs whether it's on LinkedIn, maybe on our website, potentially on something like Dice and or StackOverflow. I am planning to talk with LinkedIn next week to see what options they might have for the Node.js Foundation LinkedIn homepage. Is this something that is up for discussion in the next Com

[2017-12-13 19:26] pup commented on #187
closing because of #189

[2017-12-13 19:26] #187 closed

[2017-12-13 19:30] pup commented on #186
@ZibbyKeaton @DiegoZoracKy our next meeting is tomorrow at 4pm UTC! i can add you two as observers if you want to, and we can also add this to our agenda

[2017-12-13 19:36] pup commented on #20
can this be closed now that @ nodejs/moderation exists?

[2017-12-13 19:43] DiegoZoracKy commented on #186
Hi @pup, that can be great. You can add me as an observer.

[2017-12-13 19:47] DiegoZoracKy commented on #186
Hey @ZibbyKeaton, good to hear that. For you to know, I've created one issue specifically about the LinkedIn idea I brought up here. In case you are interested, it is this one #185.

[2017-12-13 20:01] ZibbyKeaton commented on #186
Yes, please add me into the convo too @pup

[2017-12-13 20:04] ZibbyKeaton commented on #185
I'm seeing if there's a way that we might be able to do this with the Node.js Foundation LinkedIn page. It might cost some money, but will let this group know once I hear a little bit more about options and whether or not we can add it to the budget. Stay tuned!

[2017-12-13 21:15] ZibbyKeaton commented on #184
@DiegoZoracKy your idea sounds great to me. Jus let me know next steps and how I can help.

[2017-12-13 21:32] DiegoZoracKy commented on #184
@ZibbyKeaton this is still being discussed and is not being created yet. Any feedback is welcome.

For us to have it as a reference, I will mention the issue you created and the suggestion I commented there, that ended up on your answer shown in the comment above.

Following the [Want to be featured in How I Got Into Node? - nodejs/TSC/issues/440](https://github.com/nodejs/TSC/issues/440)

If we e

[2017-12-13 22:06] SarahKConway commented on #186
Not sure if this is what you have in mind regarding npe, but on the kubernetes.io web site we've helped organize - https://kubernetes.io/partners/.

The Cloud Native Computing Foundation helped create a list of criteria for the different service and technology partners and then worked closely with the community to develop the formal conformance and certification programs.

Perhaps we start by cons

[2017-12-13 22:31] mhdawson commented on #186
@pup is it 4UTC ? I thought it was 5UTC/12 EST ?  At least that is what has been in the past.

[2017-12-13 22:41] DiegoZoracKy commented on #186
@SarahKConway I believe your suggestion is very good. The Certified Partners could be one more section on the platform. In the end the platform would be helpful to find Developers, Companies and also Certified Partners. For the latter, a more close strict review to accept the partners, as you mentioned, would apply, but maybe not so much for the Developers and Companies.

For example, on npm we ha

[2017-12-13 22:43] pup commented on #186
@mhdawson iirc the last meeting said 4pm utc in the issue description??

[2017-12-13 22:44] pup commented on #34
closed by #190

[2017-12-13 22:44] #34 closed

[2017-12-13 23:01] mhdawson commented on #186
Looking at the foundation calendar future meetings show as 12 EST for me which I believe is 5pm UTC.

Just want to make sure we all know the right time.

[2017-12-13 23:05] mhdawson commented on #186
I think it may be the time change that is messing things up.  The foundation calendar shows 12 EST (5 UTC), probably because it was scheduled in a timezone that uses daylight savings time.

What I can't remember is whether we met at 11 or 12 the last few times.  In any case we need to get the Foundation Calendar synced up with what is in the issues.  @bnb can you confirm the time and then I'll upd

[2017-12-13 23:08] DiegoZoracKy commented on #186
Hi, I'm also a bit lost about how the "observer" role works. Where can I find the link to join the meeting at the right time?

[2017-12-13 23:17] pup commented on #186
@DiegoZoracKy the link will be posted in the meeting issue (which isn't created yet) shortly before the meeting starts

[2017-12-14 05:25] dshaw commented on #187
@pup I'll convey this at the meeting (https://github.com/nodejs/community-committee/issues/189), during the @nodejs/user-feedback section. Thanks.

[2017-12-14 05:29] dshaw commented on #189
I'll be able to attend and can share an update on @nodejs/user-feedback per #187

[2017-12-14 06:24] dshaw commented on #162
@nodejs/user-feedback is established and on a [regular cadence](https://github.com/nodejs/user-feedback/labels/neuf-meeting). Come [join us](https://github.com/nodejs/user-feedback/). Closing.

[2017-12-14 06:24] #162 closed

[2017-12-14 06:37] dshaw commented on #112
We should remove the label `good-first-issue`.

If the person who edits this also wants to update the "user-feedback-init" label, please change the label to "user-feedback". Init is a different thing than "initiative and not a good abbreviation. Just simplify it to the same identifier as the repo.

[2017-12-14 06:58] dshaw commented on #144
Big anniversary coming up in January where a large cohort of individuals will be [eligible to become members](https://github.com/nodejs/community-committee/blob/master/CONTRIBUTING.md#becoming-a-member-and-collaborator).

[2017-12-14 11:07] pup opened #192 "Node.js Foundation Community Committee (CommComm) Meeting 2017-12-14"
## Time

**UTC Thu 14-Dec-2017 17:00 (05:00 PM)**
<details>

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | 09:00 (09:00 AM) |
| US / Mountain | 10:00 (10:00 AM) |
| US / Central  | 11:00 (11:00 AM) |
| US / Eastern  | 12:00 (12:00 AM) |
| Amsterdam     | 18:00 (06:00 PM) |
| Moscow        | 20:00 (08:00 PM) |
| Chennai       | 22:30 (10:30 PM

[2017-12-14 11:09] pup commented on #189
closing because of #192

[2017-12-14 11:09] #189 closed

[2017-12-14 11:15] Tiriel commented on #192
Is the time issue resolved and 5PM UTC the correct time then?
If so, I don't think I'll be able to attend today, I'll arrange for the next one though.

[2017-12-14 11:22] pup commented on #192
@Tiriel yes, 5PM UTC is the correct time

[2017-12-14 11:34] Tiriel commented on #192
Too bad! Thanks!

[2017-12-14 13:47] bnb commented on #192
Was just about to create + publish this - thank you for doing the heavy lifting, @pup. Means a lot! 🙏

[2017-12-14 13:56] tobyfarley commented on #192
Sorry if this is TL;DR. Is there any way I can move back to Observer status? I attended the one after Node Interactive. I missed the next one because I didn't understand the schedule and I hadn't set myself to watching the repo. I attended last week but had been dropped off the observer list. I made a comment last week about being added back in as an observer. I really am trying to jump through th

[2017-12-14 14:02] bnb commented on #192
@tobyfarley Yes, adding you now - and don't worry, your prior attendance hasn't been discounted, you're still technically an observer. Thanks for bearing with us.

FWIW because of you being dropped last week as well, I'm going to be working on getting a spreadsheet set up to track observers and their timeframe as an observer so we don't miss someone as an observer again.

[2017-12-14 14:04] bnb commented on #192
I have added the `cc-agenda` label to https://github.com/nodejs/community-committee/issues/186 - definitely something that we should discuss, as I think it's actionable and can help us guide our efforts more effectively.

[2017-12-14 14:06] bnb commented on #192
I've added the `cc-agenda` label to https://github.com/nodejs/community-committee/issues/184 - I don't have full context on it, but if @DiegoZoracKy attends the meeting I'd really like to have their thoughts on it. I will try to catch up before the meeting, and suggest others do the same 👍

[2017-12-14 14:18] DiegoZoracKy commented on #184
Adding a reference to a great idea regarding Certified Partners suggested by @SarahKConway:

[/nodejs/community-committee/issues/186#issuecomment-351540590](https://github.com/nodejs/community-committee/issues/186#issuecomment-351540590)

And my asnwer to her comment:

[/nodejs/community-committee/issues/186#issuecomment-351548716](https://github.com/nodejs/community-committee/issues/186#issuecomm

[2017-12-14 14:29] mhdawson commented on #186
So everybody is on the same page: UTC Thu 14-Dec-2017 17:00 (05:00 PM) is the time shown in https://github.com/nodejs/community-committee/issues/192

[2017-12-14 14:48] Bamieh commented on #192
can i join today's meeting?

[2017-12-14 14:56] DiegoZoracKy commented on #184
Summary of the idea and what have been discussed until now (intro to this subject that can be mentioned on the meeting #192):

The initial motivation is to have people more confident on investing on Node.js, by knowing better where, and who, are the people involved with it. As a developer, probably an answer to **"Is Node.js worth learning?"** can contribute positively if it is possible to be know

[2017-12-14 14:56] mhdawson commented on #112
I removed the "good first issue"  I'm also thinking we can probably close this with a pointer to the user-feedback repo where the work is going on ?

[2017-12-14 14:57] ZibbyKeaton commented on #186
Thank you. I am unable to join this meeting as well, but look forward to hearing a recap of what is discussed.

[2017-12-14 14:58] mhdawson commented on #184
@DiegoZoracKy sounds like there is a lot of interest/support for your suggestions.  Looking forward to discussing in the Community committee meeting today.

[2017-12-14 15:00] DiegoZoracKy commented on #192
@bnb I will be attending the meeting as an Observer. I just created this new comment [/nodejs/community-committee/issues/184#issuecomment-351734049](https://github.com/nodejs/community-committee/issues/184#issuecomment-351734049) with a summary/TL;DR; to serve as a quick intro for those who are interested in getting the initial idea of this topic, and see what has been discussed until now.

[2017-12-14 15:01] DiegoZoracKy commented on #184
@mhdawson Great! I will be there as an Observer 👍

[2017-12-14 15:11] pchrysa commented on #142
+1. I would like to be an observer on the community-committee as well

[2017-12-14 15:12] bnb commented on #192
Thanks @DiegoZoracKy - looking forward to it 🙏

[2017-12-14 15:12] bnb commented on #192
@Bamieh Yep, adding you as an observer. Thanks 🙏

[2017-12-14 15:26] MylesBorins commented on #192
As I'm no longer on the commcomm I likely should be in the invitation list
☺️

On Dec 14, 2017 6:07 AM, "olivia" <notifications@github.com> wrote:

[2017-12-14 15:44] pup commented on #192
i likely won't make it since i need to sort out some stuff that'll overlap with this meeting 😢

[2017-12-14 15:49] bnb commented on #192
Sorry to hear that, @pup 😢

Thank you A TON for helping out with it ❤️ ❤️ ❤️

[2017-12-14 16:43] JemBijoux commented on #192
:( I can't make it to this one either (only an observer for now) but will definitely be around for the next. Just have an important meeting taking over my morning before I head off for holidays.

[2017-12-14 16:47] rachelnicole commented on #192
I won’t be attending this one, I asked Tierney to take the lead for the rest of the month as I’m trying to get some work stuff in order

[2017-12-14 16:47] joesepi commented on #192
I will be about 20min late due to a meeting I just can’t push off. Thanks!

[2017-12-14 16:49] bnb commented on #192
Join link for members and observers is here: https://zoom.us/j/209550902

[2017-12-14 16:53] bnb commented on #170
Removing cc-agenda label for now. If it needs to be re-added to discuss further work, please feel free to ping a CommComm member or add it yourself 👍

[2017-12-14 16:54] bnb commented on #169
Removing cc-agenda label for now - @hackygolucky when you PR please add the cc-agenda label so we can review! 👍

[2017-12-14 16:56] bnb commented on #192
I've updated the agenda to remove agenda items that have been previously discussed but did not have the cc-agenda label removed 👍

[2017-12-14 17:00] amiller-gh commented on #183
Thank you for the work @sotayamashita! It is SO appreciated!

I believe current LTS docs live here in the 8.x branch: https://github.com/nodejs/node/tree/v8.x/doc (@bnb can correct me if I'm wrong).

The CSV format will work well, I like the breakdown by markdown file. Does that count exclude code examples that won't need to be translated?

After we get data for LTS I can get the proposal put toge

[2017-12-14 17:02] dshaw commented on #192
Where's the live link?

[2017-12-14 17:03] mhdawson commented on #192
2 comments up :)

[2017-12-14 17:08] williamkapke opened #193 "Add @joesepi as Member"
I believe @joesepi has met the requirements for membership to the @nodejs/community-committee.

Let's please vote to make him official.

[2017-12-14 17:20] bnb commented on #172
Here's the repo that @Bamieh has been doing this work on - amazing work!

https://github.com/Bamieh/node-ment

[2017-12-14 17:26] ZibbyKeaton commented on #192
I had to hop off the call early due to a prior engagement. Will listen to the rest of the meeting and view meeting minutes hopefully later today or tomorrow.

[2017-12-14 17:28] williamkapke commented on #193
Gah- looks like this already happened and the list I was looking at was wrong :(

please ignore.

[2017-12-14 17:28] #193 closed

[2017-12-14 18:08] gr2m commented on #192
I’m out on vacation. I’ll be back for next meeting

[2017-12-14 18:27] bnb commented on #183
Sorry, I thought I posted this - may have said it on Twitter to @sotayamashita:

You can `make build` in the relevant branch and you should be able to build the Node.js docs. So run it in the branch @amiller-gh shared and it should build.

[2017-12-14 19:12] DiegoZoracKy commented on #184
@mhdawson I want to ask some technical questions about what would be the options or limitations (if any) to implement a platform/feature like that. Should we think about having everything static? Is an option to host some kind of DB? If this thread is not the best place to talk about it, let me know.

[2017-12-15 04:56] sotayamashita commented on #183
@amiller-gh

Yes. It must be.

@bnb
 Thank you for the information

[2017-12-15 15:46] bnb commented on #193
Thanks for following up with it, @williamkapke <3

[2017-12-15 16:02] bnb commented on #112
Yep, sounds good @mhdawson 👍

This work is now being handled in https://github.com/nodejs/user-feedback - check it out if you're interested in contributing ♥️

[2017-12-15 16:02] #112 closed

[2017-12-15 16:31] DiegoZoracKy commented on #192
Hi @bnb, just a note. I was taking a look at the Minutes of yesterday's meeting and couldn't find a mention about the creation of the new doc "Strategic Initiatives" (#186). I believe it was decided that this topic should be on a TODO list.

[2017-12-15 21:57] joesepi commented on #193
Yall are the best.

[2017-12-18 16:51] bnb commented on #192
@DiegoZoracKy Yes, it was. I will review as soon as I have time and add that section in. Thanks 🙏

[2017-12-18 17:35] bnb commented on #20
@pup I believe it can 👍

[2017-12-18 17:35] #20 closed

[2017-12-18 17:35] bnb commented on #20
If anyone has further things they'd like to raise or continue from this discussion, please ping the moderation team 😄

[2017-12-18 18:51] dshaw commented on #153
The NEUF team now has a [tracking issue](https://github.com/nodejs/user-feedback/issues/22) and will launch this as soon as the Node.js Foundation team finalizes the form. This issue can now be closed.

[2017-12-20 02:43] Trott commented on #172
Prior art that may or may not be relevant here: https://github.com/node-forward/mentors

[2017-12-20 09:46] Bamieh commented on #172
@bnb how can i help with the `TODO` agreed in the last commcomm meeting regarding the mentorship program?

[2017-12-20 11:58] pup commented on #192
are there meeting notes for this meeting? if not, i'm closing it

[2017-12-21 00:58] dshaw opened #195 "Allow User Feedback to support Enterprise Advisory Group"
The Node.js End User Feedback (NEUF) team (@nodejs/user-feedback) has made itself available, and @dshaw in particular has made himself available, to help support a group of Enterprise End Users who have large deployments and are able to provide feedback on major changes to the Node.js project given the size and diversity of those deployments. These changes are primarily expected be technical in na

[2017-12-21 16:31] bnb commented on #148
@refack do you think this is a "good first issue"? 🤔

[2017-12-21 16:33] bnb commented on #46
Looks like this landed in #191 - going to close it now 👍

[2017-12-21 16:33] #46 closed

[2017-12-21 16:36] bnb commented on #68
Can this thread be closed? Not seeing any forward movement on it and it seems that this discussion should probably go in nodejs/admin if it does need further context.

[2017-12-21 19:48] dshaw commented on #148
For the @nodejs/evangelism WG?

@refack Where do you think this content would get published to?

[2017-12-21 20:28] Trott commented on #68
Pinging @nodejs/moderation ...

[2017-12-21 20:32] benjamingr commented on #68
We discussed it in the last mod team meeting. I suggest we continue this discussion within the team and bring a concrete proposal (or explicitly don't bring one) to the TSC.

[2017-12-21 20:35] Trott commented on #68
Cool. Sounds to me like this can be closed then. If the Moderation Team wants an issue to track it, a new one can be opened in nodejs/admin.

[2017-12-21 20:35] Trott commented on #68
(Closing. Feel free to re-open or comment if you think that's the wrong thing to do!)

[2017-12-21 20:36] Trott commented on #68
(Re-opening. Sorry. I thought this was the TSC repo. I'll leave it to comm comm folks to figure out whether or not to close.)

[2017-12-21 20:36] Trott commented on #68
(Closed by accident. Leaving it to Comm Comm to decide if they want to close it or not.)

[2017-12-21 21:59] Bamieh opened #197 "Meetings schedule"
I am not sure where the discussion happened, but i believe it was agreed to do the commcomm meetings every two weeks instead of every week.

It would be awesome if someone has the time to update the recurring event on google calendar to accommodate for this change.

[2017-12-21 22:59] dshaw commented on #197
@Bamieh I think the Node.js Calendar has been updated to reflect the meeting schedule. I recommend subscribing to http://nodejs.org/calendar . The calendar currently shows Thursday, 2018-01-04 as the next scheduled meeting.

[2017-12-21 23:04] dshaw commented on #197
@bnb @rachelnicole I'd love your confirmation that the CommComm calendar has settled at least for January and that the Node.js Calendar is up-to-date. As the `Champion` for @nodejs/user-feedback I need to schedule time to attend CommComm meetings and have a number of agenda items that need to be addressed. Thank you. 🙏 A little bit of clarity now will make the holiday break less stressful since th

[2017-12-22 01:00] Bamieh commented on #197
@dshaw Oops my bad. I have already subscribed to the calendar but it was still showing today's meeting for some reason 😄 . Seems that i have the meeting copied to my calendar and it doesnt reflect updates on the original. Feel free to close the issue.

Cheers!

[2017-12-22 01:23] dshaw commented on #197
@Bamieh Yeah, I had the same thing happen to me with the previous CommComm meeting. I had copied it to my calendar.

[2017-12-22 01:46] dshaw opened #198 "CommComm Observer requests from @foadlab and @pchrysa"
I was reviewing the CommComm README and clicked through to the good example issue. I noticed 2 people had requested being added as Observers there recently.

https://github.com/nodejs/community-committee/issues/142#issuecomment-351319388

Noting @foadlab and @pchrysa have requested to be Observers for the next CommComm meeting.

[2017-12-26 23:54] bnb commented on #197
@dshaw the next meeting should be this Thursday - I assume the meetings were entered manually and not as a recurring meeting, because I moved the last one and none of the upcoming meetings were updated - noted, and I'll set them up as recurring for the future.

@Bamieh as per our schedule, there should normally be a meeting every other week - hopefully the calendar wasn't too confusing, an oversig

[2017-12-27 01:10] Bamieh commented on #197
@bnb It is clear, it's just that i have copied the old calendar so i got confused, my bad.

28th*

[2017-12-27 01:10] #197 closed

[2017-12-28 00:03] bnb commented on #42
@gautamarora Are you still interested in working on this? If so, we'd love to have your help! If not, absolutely zero worries - what you've shared already is a super helpful place for us to get started. 🙏

[2017-12-28 00:12] bnb commented on #68
@Trott Yep, I think we're good to close this - opening a new issue in nodejs/admin is a +1 from me if further discussion is needed. If an issue is created, please reference this one for historical context around prior discussions. 👍

[2017-12-28 00:13] #68 closed

[2017-12-28 00:16] bnb commented on #96
@dshaw @hackygolucky since there's been a significant amount of work done on the User Feedback Initiative outside of this issue, can we close this issue?

[2017-12-28 00:24] bnb commented on #114
@rachelnicole @obensource @Tiriel @amiller-gh @sotayamashita Would like to check in and see how things are going. Were you able to get a meeting set up? Happy to help assist - let me know if I can help y'all push this forward at all!

[2017-12-28 00:28] bnb commented on #117
@benjamingr hey there - going to add the cc-agenda label to this so we can discuss it in tomorrow's meeting (and, if attendance is low because of the holiday, discuss it in the meeting after that). Don't want you to think that we don't care about this, I think it's just slipped off of our radar a bit. Hopefully we'll be able to get you some more context soon!

[2017-12-28 00:32] bnb commented on #122
@MylesBorins is this something we should still be interested in working on? Doing some cleanup and want to check in on the status of this + see if there's anything actionable moving forward for the CommComm or Moderation Team to do.

[2017-12-28 00:37] bnb commented on #138
@ZibbyKeaton wanted to check to see how the CommComm can help you get more people for this. Would love to help you continue to grow this series! Are there any specific criteria or is there any specific scope you're looking for - i.e. the individual is a Contributor?

[2017-12-28 00:41] bnb commented on #153
Going to go ahead and close this 👍

[2017-12-28 00:41] #153 closed

[2017-12-28 00:45] bnb commented on #163
@naugtur Hey there! Wanted to check in and see if there's been any updates on this - would love to see if we can support the Diagnostics WG further, especially now that we've been working to establish better processes around initiatives.

If this is still what we can help with, awesome - we can begin working to find a champion and moving this forward.

[2017-12-28 00:48] bnb commented on #161
We've done that a bit in https://github.com/nodejs/community-committee/pull/167 and https://github.com/nodejs/community-committee/pull/191 - checked it off 👍

[2017-12-28 01:21] bnb commented on #186
Going to remove the cc-agenda label, unless there's further discussion to be had since the last meeting 👍

[2017-12-28 01:30] bnb commented on #172
@Bamieh so we're going to have to do that work here - the next steps will be agreed upon by the TSC and CommComm in this issue: https://github.com/nodejs/admin/issues/35

[2017-12-28 01:33] bnb commented on #172
Going to remove the CC-agenda label from this, since I added it to https://github.com/nodejs/admin/issues/35

[2017-12-28 01:34] bnb opened #200 "Node.js Foundation Community Committee (CommComm) Meeting 2017-12-28"
## Time

**UTC Thu 28-Dec-2017 17:00 (05:00 PM)**:

<details>

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Thu 28-Dec-2017 09:00 (09:00 AM) |
| US / Mountain | Thu 28-Dec-2017 10:00 (10:00 AM) |
| US / Central  | Thu 28-Dec-2017 11:00 (11:00 AM) |
| US / Eastern  | Thu 28-Dec-2017 12:00 (12:00 PM) |
| Amsterdam     | Thu 28-Dec-2017 18:00 (

[2017-12-28 01:37] bnb commented on #192
@pup Just PRed them: https://github.com/nodejs/community-committee/pull/199

Going to close this 👍

[2017-12-28 01:37] #192 closed

[2017-12-28 02:12] DiegoZoracKy commented on #200
@bnb I won't be able to participate on that meeting. I'm still on vacation, and I'll be back only in January.

[2017-12-28 02:17] DiegoZoracKy commented on #186
@bnb, I agree. I believe we'll be discussing on the specific issues for now.

[2017-12-28 08:50] Tiriel commented on #114
Hey!
We had a meeting scheduled last week but had to cancel it at the last moment (working schedules changed for half of us).
IIRC, we have a new one set for next week, on the 2nd. But I'll need @obensource to confirm, he's our organizing guru (and doing a great job at it).

[2017-12-28 08:55] Tiriel commented on #200
Hey! I should be there for the first half of the meeting, although I may no be able to speak.

Quick note: the link of localized time says it happens at 20pm UTC. Is that right? Shouldn't it be 17pm UTC? Or has the time changed?

[2017-12-28 12:40] naugtur commented on #163
To my best understanding status is as follows:
- The pull request with first of my guides is here https://github.com/nodejs/nodejs.org/pull/1444 ready for editing help.
- @mike-kaufman should be able to chip in on the status of diagnostics WG talk about this, I missed some recent meetings because of a new Distraction named Alice (I'm a father! yay)
- I'm still planning on contributing more guides

[2017-12-28 12:47] pup commented on #42
i'd be very interested in helping out for this too! let me know if you need any help or resources from the community committee @gautamarora

[2017-12-28 14:14] bnb commented on #200
@Tiriel ugh, thanks! Should be 17pm UTC - I think that's hard-coded into the tool we use 😞

[2017-12-28 14:15] bnb commented on #200
Updated 👍

[2017-12-28 16:33] ZibbyKeaton commented on #138
This series focuses on community members of the Node.js. The intention is to put a face and a story on those that are contributing to the project. I want to interview folks that have been contributing for a long time and those that might have just started. A few folks who have not contributed to the project requested to be interviewed as well, however I would prefer that we focus on those that are

[2017-12-28 16:38] bnb commented on #200
Join link for today's meeting: https://zoom.us/j/209550902

[2017-12-28 16:39] dshaw commented on #200
@bnb Having the schedule shift at the last minute for every CommComm meeting makes planning to attend meetings very challenging. Doubly so [during the holidays](https://github.com/nodejs/community-committee/issues/197). I should be able to make this, but have had no opportunity to plan and prepare for some very important discussions for @nodejs/user-feedback.

[2017-12-28 16:56] bnb commented on #200
@dshaw apologies for the miscommunication - looks like the calendar hadn't been updated appropriately because each meeting is entered manually, not as a recurring meeting. I wasn't the one to initially set this up, so I didn't pick up on this detail when I had changed it prior.

That said, this isn't an intentional schedule shift - this is actually in accordance with the cadence we've set with our

[2017-12-28 17:14] obensource commented on #114
@bnb as @Tiriel mentioned, things have been slow in December with schedules, holidays, etc, but it's going to pick up in January. Two meetings coming up: January 2nd, and January 9th.

Folks meeting on the 2nd:
- @obensource
- @rachelnicole
- @Tiriel

Folks meeting on the 9th:
- @obensource
- @amiller-gh
- @Tiriel

Meetings will continue to be organized as needed to push this forward. Going to be

[2017-12-28 18:53] dshaw opened #201 "Define Working Group expectations and create boilerplate"
Attempting to integrate the [TSC WORKING_GROUP.md doc](https://github.com/nodejs/community-committee/pull/194), revealed some gaps between what we assert as [CommComm contributions](https://github.com/nodejs/community-committee#contributing) and how this is [defined today](https://github.com/nodejs/TSC/blob/master/WORKING_GROUPS.md) for the Node.js project.

At the [2017-12-28 CommComm Meeting](ht

[2017-12-28 19:04] dshaw opened #202 "Proxy data and membership or how does Node.js expand beyond GitHub"
With the @nodejs/user-feedback initiative, we immediately identified the need to expand member activity and be able to capture that activity beyond the confines of what can be done here on GitHub. As a part @nodejs/user-feedback we have been collaborating to create a space for Enterprise organizations to be able to provide feedback to the TSC with the @nodejs/enterprise-advisory-group. Most of the

[2017-12-28 19:49] pup commented on #138
@ZibbyKeaton somehow the email i wanted to send isn't being delivered by the mail system.. are there any other venues in which to contact you?

[2017-12-28 20:00] pup opened #203 "strategic initiative for coordinating the website redesign"
as discussed in todays meeting (#200), it would be good to start the nodejs.org website redesign at the organization level. for this, i believe it's best to set up a [strategic initiative](https://github.com/nodejs/community-committee/pull/196) that coordinates the website redesign at a high level. this initiative should likely consist of commcomm, tsc and website working group members.

questions

[2017-12-28 20:01] pup commented on #203
oh yeah, for future reference, i'd be happy to champion this initiative to the commcomm, if nobody objects

[2017-12-28 20:05] amiller-gh commented on #200
Hi all, I also missed the meeting because of holiday travel and time zone confusion. @bnb, hope it goes without saying that I’d love to help with the site redesign in whatever capacity is needed! @pup, meeting notes say you are taking point on this – would love to chat about moving forward if you’d like the help!

[2017-12-28 20:09] pup commented on #200
@amiller-gh for the website thing? sure, i created an issue just now: #203

[2018-01-02 15:56] gautamarora commented on #42
@bnb @pup - thanks for checking in on this. Apologies for the delay, I wont be able to get to this in jan so please go ahead in creating this doc.

[2018-01-02 18:06] mike-kaufman commented on #163
This seems like a valid next step to me.  @bnb - any suggestions for how to best recruit some tech writing volunteers that can help here?  Seems like a great opportunity for
  - someone who can propose some consistent styling for how-to's like this
  - someone to do some editing/tech writing.

If someone was interested in this, how would they find this opportunity?  Is there a landing page someone

[2018-01-02 20:07] ZibbyKeaton opened #204 "Blog on CommComm Initiatives in 2018"
I thought it would be great to write a Node.js Collection blog on some of the achievements of the CommComm in 2017 and also initiatives that the CommComm is working on in 2018 - highlighting where support is needed, etc.

Are there any documents that I can look at to get this kicked off or does anyone have 30 minutes to talk with me about this? Once I write the blog, I would share it with this gro

[2018-01-02 23:38] mhdawson commented on #184
@DiegoZoracKy just back from vacation.    I think the best bet is to get agreement on what data should be captured and how it might be presented before going into the technical side.

[2018-01-03 00:59] bnb commented on #203
@pup I didn't hear any objections in the meeting, and I don't _see_ any here. I think we can have you champion this ❤️

[2018-01-03 18:51] bnb commented on #204
@ZibbyKeaton I just landed a PR adding [STRATEGIC-INITIATIVES.md](https://github.com/nodejs/community-committee/blob/master/STRATEGIC-INITIATIVES.md) - should be a good starting point.

I'd be happy to talk with you if nobody is is able to, though I definitely think there's quite a few people who you could have productive discussions with and should be prioritized first! 😄

[2018-01-03 18:52] bnb commented on #203
@pup I just landed https://github.com/nodejs/community-committee/pull/196 - do you want to go ahead and PR this into STRATEGIC-INITIATIVES.md and add yourself as the Champion?

[2018-01-03 21:44] flickz commented on #204
@ZibbyKeaton  Great idea. This is my first time here and have made it a commitment to participate fully this year. Initiatives on what CommComm will be working on in 2018 will be helpful.

[2018-01-03 21:55] ZibbyKeaton commented on #204
@bnb let's see if anyone responds to this by next Tuesday, January 9. If not then, we can start to work together on this and add in additional people as need. I would like to get a few voices and quotes for the blog post.

[2018-01-03 21:58] mhdawson commented on #204
I'm happy to chime in as needed.

[2018-01-03 23:54] DiegoZoracKy commented on #184
@mhdawson I'm also getting back from vacation, at this week. I'm on the same page as you about defining the data scope, and how it can be used, prior to get into technical details. I asked out of curiosity. Knowing this would be good to bring me an idea of what can come next, even not bringing this topic to the conversation for now.

[2018-01-04 07:26] aks- commented on #200
@pup  I would to work on website redesigning.

[2018-01-04 13:27] flickz commented on #174
@bnb and @mhdawson I have similar situation. General guidance first?

[2018-01-04 16:18] bnb commented on #204
@nodejs/community-committee if anyone is interested, please don't hesitate to raise your hand ❤️

[2018-01-04 20:30] bnb commented on #42
Thanks for initially offering to help on this @gautamarora - much appreciated, and no worries about not having time. ❤️

@pup do you want to take this on, or maybe do a call-out in the next CommComm meeting to request participation?

[2018-01-04 21:08] mhdawson commented on #174
@flickz would you be able to talk through zoom on Monday at 2 EST ?

[2018-01-04 21:11] mhdawson commented on #184
@DiegoZoracKy we have a pretty big infrastructure in terms of machines.  The machine concern would be ongoing maintenance.  Right now I don't think we have a db for the website so that would be easier, but a DB is not out of the question either.

[2018-01-04 22:06] flickz commented on #42
Being the individual who asked for this on [Nodejs/Education](https://github.com/nodejs/education/issues/31) I will like to help with the doc. @gautamarora already provided 3 links to resources. Any suggestion on other links?

[2018-01-04 22:11] flickz commented on #174
AM or PM?

[2018-01-04 22:19] pup commented on #203
@bnb i will - however i'm busy until the end of the week 😦

[2018-01-04 22:21] mhdawson commented on #174
And if that does not work feel free to suggest some that do, not sure what timezone you are in.

[2018-01-04 22:23] pup commented on #42
@bnb i'd love to get some more hands to work on this, so i think i'll bring it up in the next meeting

[2018-01-05 01:04] bnb commented on #203
@pup no worries - enjoy your week 😄

[2018-01-05 01:06] bnb commented on #42
@flickz I'd suggest checking out a prior attempt at this in the [Evangelism WG](https://github.com/nodejs/evangelism/blob/master/documents/meetup-starter-kit.md) and the [Local Initiatives Directory](https://github.com/nodejs/evangelism/tree/master/documents/local_initiatives) in the same repo 😄

[2018-01-05 07:44] flickz commented on #174
8:00 PM Monday, WAT. Okay to me

[2018-01-05 15:40] mhdawson commented on #174
Ok sounds good.  Zoom meeting info

Join from PC, Mac, Linux, iOS or Android: https://zoom.us/j/386892608

[2018-01-05 21:22] flickz commented on #174
OK

[2018-01-05 22:11] flickz commented on #42
@bnb Able to combine some ideas from [Local Initiatives Directory](https://github.com/nodejs/evangelism/edit/master/documents/local_initiatives/README.md). Here is a rough doc [Community Building Resources](https://github.com/flickz/community-committee/blob/master/documents/Community-Building-Resources.md). Feedback?

[2018-01-08 19:03] mhdawson commented on #96
I'd be +1 on closing this and tracking through issues in the user-feedback repo.

[2018-01-08 19:03] mhdawson commented on #174
@flickz on the call now.

[2018-01-08 19:05] bnb commented on #96
Closing 👍

[2018-01-08 19:07] #96 closed

[2018-01-08 19:17] mhdawson commented on #174
Ok, figure we must not have got the times correct.  I think it started at 8WAT but let me know another time that works for you.

[2018-01-08 21:09] flickz commented on #174
Omg, the invitation link says 15th ?